<template>
<div id="app" class=" m-5">
  
     
<h2 class='pl-5'>Tuition Fees</h2>
 <br><br>    
      <button v-on:click="filterTuition()" class="btn btn-info" >Search</button>
      <button v-on:click="fetchTuit_fees()" class="btn btn-info" >All</button>
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_tuition_course">Course</label>
                <select id="filter_tuition_course" class="form-control" v-model="filter_tuition_course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CSS">CSS</option>
                  <option value="CS">CS</option>
                  <option value="EIM">EIM</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="filter_tuition_year">Year</label>
                <select id="filter_tuition_year" class="form-control" v-model="filter_tuition_year" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="filter_tuition_semester">Semester</label>
                <select id="filter_tuition_semester" class="form-control" v-model="filter_tuition_semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 


    <table class="table table-hoverable">
      <tr>
        <!-- <th>#</th> -->
        <th>Course</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Per Unit</th>
        <!-- <th>Cash/Installment</th> -->
      </tr>
      <tr v-for="tuit_fee in tuit_fees" v-bind:key="tuit_fee.id">
        <!-- <td>{{ tuit_fee.id }}</td> -->
        <td>{{ tuit_fee.course }}</td>
        <td>{{ tuit_fee.year }}</td>
        <td>{{ tuit_fee.semester }}</td>
        <td>{{ tuit_fee.per_unit }}</td>
        <!-- <td>{{ tuit_fee.cash_installment }}</td> -->
        </tr>
    </table>  


</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 
            
          isButtonDisabled: null,
      filter_tuition_course: '',
      filter_tuition_year: '',
      filter_tuition_semester: '',

            tuit_fees: [],
            tuit_fee_id: '',
            tuit_fee: '',
            course: '',
            year: '',
            semester: '',
            per_unit: '',
            cash_installment: ''
        }
      }
    ,
    
    created() {
      
    },  
    mounted() {
      
    },

    methods: { 
        fetchTuit_fees: function () {
          let vm = this;
         axios.get('http://bpc.org/api/tuitfees')
          .then(function (response) {
            console.log(response.data);
            vm.tuit_fees = response.data;
            console.log(vm.misc_fees);
          });
        },

      filterTuition: function () {
          let vm = this;
          if(vm.filter_tuition_course != ''){              
            if(vm.filter_tuition_year != ''){             
                if(vm.filter_tuition_semester != ''){
                    axios.get(`http://bpc.org/tuitfees/${vm.filter_tuition_course}/${vm.filter_tuition_year}/${vm.filter_tuition_semester}`)
                    .then(function (response) {
                        console.log(response.data);
                        vm.tuit_fees = response.data;
                    });
                }   
            }
          }
        }

    }//methods

  }
</script>
