<template>
<div id="app" class="m-5">
  

<h2 class='pl-5'>Miscellaneous Fees</h2>
    <br><br>    
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_level">Level</label>
                <select id="filter_level" class="form-control" v-model="filter_level" required>
                  <option value="ched">CHED</option>
                  <option value="techvoc">TechVoc</option>
                  <option value="deped">DepEd</option>
                </select>
            </div>          
          <div class="col-lg-1">
             <button v-on:click="filterMiscFee()" class="btn btn-info" >Search</button>
            </div> 
          </div> 
    <table class="table table-hoverable mt-2">
      <tr>
        <th>level</th>
        <th>name</th>
        <th>amount</th>
      </tr>
      <tr v-for="misc_fee in misc_fees" v-bind:key="misc_fee.id">
        <!-- <td>{{ misc_fee.id }}</td> -->
        <td>{{ misc_fee.level }}</td>
        <td>{{ misc_fee.name }}</td>
        <td>{{ misc_fee.amount }} <span></span></td>        
        </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Total Amount: {{total_amount}} pesos</td>
      </tr>
    </table>  
</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 
            name: '',
      filter_level: '',

            misc_fees: [],
            misc_fee_id: '',
            misc_fee: '',
            level: '',
            name: '',
            amount: '',
            total_amount: 0,
        }
      }
    ,
    
    created() {
      
    },  
    mounted() {
      
    },

    methods: { 

      filterMiscFee: function () {
          let vm = this;
          if(vm.filter_level != ''){
            axios.get(`http://bpc.org/miscfee/${vm.filter_level}`)
              .then(function (response) {
                console.log(response.data);
                vm.misc_fees = response.data.miscfees;
                vm.total_amount =response.data.total_amount;
              });
          }
        },
        addAmount: function (amount) {
          let vm = this;
          vm.total_amount += amount;
        }
    }//methods

  }
</script>
