<template>
<div id="app" class=" m-5">
<h2 class='pl-5'>Subjects</h2>
<br><br>
      <button v-on:click="filterSubject()" class="btn btn-info" >Filter</button>
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_subject_course">Course</label>
                <select id="filter_subject_course" class="form-control" v-model="filter_subject_course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CSS">CSS</option>
                  <option value="CS">CS</option>
                  <option value="EIM">EIM</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="filter_subject_year">Year</label>
                <select id="filter_subject_year" class="form-control" v-model="filter_subject_year" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="filter_subject_semester">Semester</label>
                <select id="filter_subject_semester" class="form-control" v-model="filter_subject_semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 
    <table class="table table-hoverable">
      <tr>
        <!-- <th>#</th> -->
        <!-- <th>Course</th>
        <th>Year</th>
        <th>Semester</th> -->
        <th>Subject Code</th>
        <th>Title</th>
        <th>Units</th>
        <th>Description</th>
        <th>Prerequisite</th>
      </tr>
      <tr v-for="subject in subjects" v-bind:key="subject.id">
        <!-- <td>{{ subject.id }}</td> -->
        <!-- <td>{{ subject.course }}</td>
        <td>{{ subject.year }}</td>
        <td>{{ subject.semester }}</td> -->
        <td>{{ subject.code }}</td>
        <td>{{ subject.title }}</td>
        <td>{{ subject.units }}</td>
        <td>{{ subject.description }}</td>
        <td>{{ subject.prerequisite }}</td>
      </tr>
      <tr>
            <td></td>
            <td>Price Per Units: P{{ per_unit }} pesos</td>
            <td>Total Units: {{ total_per_unit }}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Total Tuition: P{{ tuition_amount }} pesos</td>
            <td></td>
            <td></td>
          </tr>
    </table>


</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 
                    
                total_per_unit: '',
                tuition_amount: '',
                per_unit: '',

                filter_subject_course: '',
                filter_subject_year: '',
                filter_subject_semester: '',


                subjects: '',
                subject_id: '',
                course: '',
                year: '',
                semester: '',
                code: '',
                title: '',
                description: '',
                units: '',
                prerequisite: '',
                subject: {
                    id: '',
                    course: '',
                    year: '',
                    semester: '',
                    code: '',
                    title: '',
                    description: '',
                    units: '',
                    prerequisite: ''
                }
        }
      }
    ,
    
    created() {
      
    },  
    mounted() {
      
    },

    methods: { 
        
      filterSubject: function () {
          let vm = this;
          if(vm.filter_subject_course != ''){
            if(vm.filter_subject_course != ''){
                if(vm.filter_subject_course != ''){
                    axios.get(`http://bpc.org/subjects/${vm.filter_subject_course}/${vm.filter_subject_year}/${vm.filter_subject_semester}`)
                    .then(function (response) {
                        console.log(response.data);
                        vm.subjects = response.data.subjects;
                        vm.total_per_unit = response.data.total_units;
                        vm.tuition_amount = response.data.amount;
                        vm.per_unit = response.data.per_unit;
                    });
                }
            }
          }
        }

    }//methods

  }
</script>
