<template>
 
<div id="app">
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="room_no">Room No#</label>
                <input v-model="room_no" required type="text" class="form-control" id="room_no" placeholder="Room No#">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="floor">Floor</label>
                <input v-model="floor" required type="text" class="form-control" id="floor" placeholder="Floor">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="building">Building</label>
                <input v-model="building" required type="text" class="form-control" id="building" placeholder="Building">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="description">Description</label>
                <input v-model="description" required type="text" class="form-control" id="description" placeholder="Description">
              </div>
            </div>
          </div>  <!-- ROW -->
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchRooms" class="btn btn-success" >Get</button> -->
        <button id="addRoom"  v-bind:disabled="save"  v-on:click="addRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Room</button><br>
        <button id="updateRoom" v-bind:disabled="update"  v-on:click="updateRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Room No#</th>
        <th>Floor</th>
        <th>Building</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="room in rooms" v-bind:key="room.id">
        <!-- <td>{{ room.id }}</td> -->
        <td>{{ room.room_no }}</td>
        <td>{{ room.floor }}</td>
        <td>{{ room.building }}</td>
        <td>{{ room.description }}</td>
        <td><button v-on:click="editRoom(room)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteRoom(room.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>
  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       
       update: true,
       save: false,
          isButtonDisabled: null,

      rooms: '',
      id: '',
      room_no: '',
      floor: '',
      building: '',
      description: ''
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchRooms();
    },

    methods: { 
      fetchRooms () {
          let vm = this;
         axios.get('http://bpc.org/api/rooms')
          .then(function (response) {
            console.log(response.data);
            vm.rooms = response.data;
          });
        },
        addRoom () {
              let vm = this;
              axios.post('http://bpc.org/api/rooms', {
                room_no: vm.room_no,
                floor: vm.floor,
                building: vm.building,
                description: vm.description
            })
            .then(function (response) {
             vm.fetchRooms();
             vm.clear();
              console.log('success: ' + response);
            })
            .catch(function (error) {
             vm.fetchRooms();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editRoom (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.room_no = item.room_no;
          vm.floor = item.floor;
          vm.building = item.building;
          vm.description = item.description;
      },
        updateRoom () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(`http://bpc.org/api/rooms/${vm.id}`, {  
                room_no: vm.room_no,
                floor: vm.floor,
                building: vm.building,
                description: vm.description
            })
            .then(function (response) {
             vm.fetchRooms();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchRooms();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteRoom (id) {
              let vm = this;
              axios.delete(`http://bpc.org/api/rooms/${id}`)
            .then(function (response) {
             vm.fetchRooms();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchRooms();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.room_no = '',
          vm.floor = '',
          vm.building = '',
          vm.description = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
