<template>
<div id="app" class="p-5">
       <h1>College Enrollment Procedure</h1>
                  <hr>
                  <p>
                    <a href="/enrollment/college/application-form" class="btn btn-info">Enroll Now!</a>
                    <br>
                    <textarea name="content" id="editor"></textarea>
                    ENROLLMENT PROCEDURES
(1st Sem. SY 2017-2018)
COLLEGE (1st, 2nd, 3rd and 4th Year)


STEP 1 - VERIFICATION OF GRADES (incoming 2nd year only)
Proceed to Room 201 or Room 202 and present your complete class cards and evaluation of grades for verification of grades.

STEP 2 - PAYMENT FOR PARTIAL MISCELLANOUS FEES
Proceed to Room 203 to pay for the following miscellaneous fees:
Sentry - Php 50
Guidance Fee - Php 50
SG Fee - Php 50
PTCA - Php 50
Club Fee (all courses) - Php 50
Insurance Fee - Php 30
ALCU Fee - Php 50
Total Php 330
STEP 3 - REGISTRATION
Present all the requirements listed below in Table 1, 2, or 3 at Rm. 204 & 205 and avail a green card/registration form.
HIGH SCHOOL GRADUATES

2pcs. 1X1 colored picture
High School Card (original copy)
BC-NSO Authenticated (Xerox copy)
Good Moral Certificate (original copy)
National Career Assessment Exam (NCAE Result) (xerox copy)
Long brown envelope
Interview Slip (signed by the Interviewer)
TRANSFEREES
2pcs. 1x1 colored picture
Original Copy - Certificate of Grades or Transcript of Records (TOR) (original copy)
BC-NSO Authenticated (Xerox copy)
Transfer Credentials & Honorable Dismissal Cert. (original copy)
National Career Assessment Exam (NCAE Result) (xerox copy)
Evaluation of Grades from the Registrar's Office
RETURNEES
2 pcs. 1x1 colored picture
Student Clearance (fully accomplished)
Copy of Grades
Evaluation of Grades from the Registrar's Office
STEP 4 - ENLISTMENT OF SUBJECTS AND VALIDATION
Proceed to the following designated room below and copy the list of subjects.
CS, BSOM, BSIS and CCM - Rm. 104
HRS, CIT and DTS - Rm. 105
Ensure that the registration form is validated and signed by the evaluator.
STEP 5 - ASSESSMENT
Present the fully accomplished registration form at Rm. 106 for assessment of tuition fees and the rest of miscellaneous fees

STEP 6 - PAYMENT TO PGB CASHIERS
Pay for tuition fee and the rest of miscellaneous fees in Windows 1, 2 or 3 at Rm. 108 or at the Provincial Treasurer's Office in the Provincial Capitol.
              Registration Form - Php 50
              Laboratory Fee - Php 50
              Sports and Cultural Fee - Php 50
              Library Fee - Php 30
              Total - Php 180 plus Tuition Fee
To those who opted to pay at Rm. 108, the left side of the court (with chairs provided) will serve as their waiting area.

STEP 7 - REGISTRAR'S APPROVAL AND ISSUANCE OF CLASSCARDS
Proceed to the provided chairs at the right side of the BPC Covered Court and have the registration form be approved by the Registrar at Science Laboratory and avail the class cards from the assigned personnel.

STEP 8 - APPLICATION FOR BPC ID
Proceed to MIS Office (second floor) and pay Php 55.
                  </p>
</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 
            name: ''
        }
      }
    ,
    
    created() {
      
    },
    mounted() {
      
    },

    methods: { 

    }

  }
</script>
