<template>
 
<div id="app" class="p-5">
  <form  >
  <h2>College Application</h2> 
  <center>
  <h4> {{sys.semester === 1 ? sys.semester+'st': sys.semester+'nd'}} Semester School Year {{sys.start_year}} - {{sys.end_year}} </h4>
 </center>
  <hr>
  <div class="">
    
  <div class="row">
            <div class="col-lg-6">
              <label for="course">Course</label>
              <select id="course" class="form-control" v-model="course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CSS">CSS</option>
                  <option value="CS">CS</option>
                  <option value="EIM">EIM</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="year">Year</label>
                <select id="year" class="form-control" v-model="year" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </div>
          </div>

        <div class="row">
            <div class="col-lg-6">
              <label for="old_new_student">New/Returnee/Transferee</label>
              <select id="old_new_student" class="form-control" v-model="old_new_student" required>
                <option value="New">New</option>
                <option value="Returnee">Returnee</option>
                <option value="Transferee">Transferee</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="regular_iregular">Regular/Irregular</label>
              <select id="regular_iregular" class="form-control" v-model="regular_iregular" required>
                <option value="Regular">Regular</option>
                <option value="Irregular">Irregular</option>
              </select>
            </div>
          </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input v-model="firstname" required type="text" class="form-control" id="firstname" placeholder="Firstname">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="middlename">Middlename</label>
          <input v-model="middlename" required type="text" class="form-control" id="middlename" placeholder="Middlename">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="Lastname">Lastname</label>
          <input v-model="lastname" required type="text" class="form-control" id="Lastname" placeholder="Lastname">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="initial">Initial</label>
          <input v-model="initial" required type="text" class="form-control" id="initial" placeholder="M.">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="zipcode">ZipCode</label>
          <input v-model="zipcode" required type="text" class="form-control" id="zipcode" placeholder="e.g 3000">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="street">Street</label>
          <input v-model="street" required type="text" class="form-control" id="street" placeholder="Street">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="barangay">Barangay</label>
          <input v-model="barangay" required type="text" class="form-control" id="barangay" placeholder="Barangay">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="municipality">Municipality</label>
          <input v-model="municipality" required type="text" class="form-control" id="municipality" placeholder="Municipality">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="province">Province</label>
          <input v-model="province" required type="text" class="form-control" id="province" placeholder="Province">
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <label for="sex">Sex</label>
        <select id="sex" class="form-control" v-model="sex" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="col-lg-4">
        <label for="civilstatus">Civil Status</label>
        <select id="civilstatus" class="form-control" v-model="civilstatus" required>
          <option value="single">Single</option>
          <option value="married">Married</option>
          <option value="devorced">Devorced</option>
        </select>
      </div>
      <div class="col-lg-4">
        <label for="birthdate">Birthdate</label>
        <input v-model="birthdate" required type="text" class="form-control" id="birthdate" placeholder="12/31/1990">
        
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="contact">Contact Number</label>
          <input v-model="contact" required type="text" class="form-control" id="contact" placeholder="Contact Number">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input readonly v-model="email" required type="text" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="last_school_attended">Last School Attended</label>
          <input v-model="last_school_attended" required type="text" class="form-control" id="last_school_attended" placeholder="Last School Attended">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="year_graduated">Year Graduated</label>
          <input v-model="year_graduated" required type="text" class="form-control" id=year_graduated placeholder="Year Graduated">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="last_school_address">Address</label>
          <input v-model="last_school_address" required type="text" class="form-control" id="last_school_address" placeholder="School's address">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="father">Father's Name</label>
          <input v-model="father" required type="text" class="form-control" id="father" placeholder="Father's Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="father_occupation">Father's Occupation</label>
          <input v-model="father_occupation" required type="text" class="form-control" id="father_occupation" placeholder="Father's Occupation">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="father_address">Father's Address</label>
          <input v-model="father_address" required type="text" class="form-control" id="father_address" placeholder="Father's address">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="mother">Mother's Name</label>
          <input v-model="mother" required type="text" class="form-control" id="mother" placeholder="Mother's Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="mother_occupation">Mother's Occupation</label>
          <input v-model="mother_occupation" required type="text" class="form-control" id="mother_occupation" placeholder="Mother's Occupation">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="mother_address">Mother's Address</label>
          <input v-model="mother_address" required type="text" class="form-control" id="mother_address" placeholder="mother's address">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="guardian">Guardian's Name</label>
          <input v-model="guardian" required type="text" class="form-control" id="guardian" placeholder="Guardian's Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="guardian_occupation">Guardian's Occupation</label>
          <input v-model="guardian_occupation" required type="text" class="form-control" id="guardian_occupation" placeholder="Guardian's Occupation">
        </div>
      </div>
    </div>
    
    <div class="row ">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="guardian_address">Guardian's Address</label>
          <input v-model="guardian_address" required type="text" class="form-control" id="guardian_address" placeholder="Guardian's address">
        </div>       
      </div>
       <div class="col-lg-3">
        <div class="form-group">
          <label for="guardian_contacts">Guardian's contacts</label>
          <input v-model="guardian_contacts" required type="text" class="form-control" id="guardian_contacts" placeholder="Guardian's contacts">
        </div>
      </div>
    </div>

    
    
  </div>
  
    <!-- <div class="row">
      <button id="Clear" v-on:click="searchSubjectCourse" class="btn btn-info" >Search Subject</button>
       <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>Course</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Subject Code</th>
        <th>Title</th>
        <th>Units</th>
        <th>Description</th>
        <th>Prerequisite</th>
      </tr>
      <tr v-for="subject in subjects" v-bind:key="subject.id" id="subject.id">
        <td>{{ subject.id }}</td>
        <td>{{ subject.course }}</td>
        <td>{{ subject.year }}</td>
        <td>{{ subject.semester }}</td>
        <td>{{ subject.code }}</td>
        <td>{{ subject.title }}</td>
        <td align='center'>{{ subject.units }}</td>
        <td>{{ subject.description }}</td>
        <td>{{ subject.prerequisite }}</td>
        <td><button v-on:click="removeSubject(subject)" class="btn btn-warning" >Remove</button></td>      
     </tr>
        <tr>
          <td>Total Subjects:{{ total_subjects }}</td>
          <td>Total Units:{{ total_units }}</td>
        </tr>
    </table>
  </div> -->
  <h4>Application Form Overview</h4>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Student Info</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-5">        
                            <span><b>{{old_new_student}} Student ({{regular_iregular}})</b></span><br>                       
                            <span><b>Name: {{firstname}} {{initial}}. {{lastname}}</b></span><br>
                            <span><b>CYS: {{course}} {{year == 1? year+'st' : ''}}{{year == 2? year+'nd' : ''}}{{year == 3? year+'rd' : ''}}{{year == 4? year+'th' : ''}}</b></span><br>
                            <span><b>Birthdate: {{birthdate}}</b></span><br>  
                        </div>
                        <div class="col-lg-5">     
                            <span><b>Sex: {{sex}} Civil Status: {{civilstatus}}</b></span><br>  
                            <span><b>Contacts: {{contact}}</b></span><br>    
                            <span><b>Email: {{email}}</b></span><br>               
                            <span><b>Address: {{street}} {{barangay}}, {{municipality}}, {{province}} {{zipcode}}</b></span><br>         
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> 
<br>
<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Other Information</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-12">   
                            <span><b>Last School Attended: {{last_school_attended}} </b></span><br>
                            <span><b>Year Graduated: {{year_graduated}}</b></span><br>
                            <span><b>School Address: {{last_school_address}}</b></span><br>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    
<br>
<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Parents Information</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-4">     
                            <span><b>Father: {{father}}</b></span><br>    
                            <span><b>Occupation: {{father_occupation}}</b></span><br>
                            <span><b>Address: {{father_address}}</b></span><br>               
                        </div>
                        <div class="col-lg-4">     
                            <span><b>Mother: {{mother}}</b></span><br>    
                            <span><b>Occupation: {{mother_occupation}}</b></span><br>
                            <span><b>Address: {{mother_address}}</b></span><br>               
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <br>
<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Guardian's Information</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-12">     
                            <span><b>Guardian: {{guardian}}</b></span><br>    
                            <span><b>Occupation: {{guardian_occupation}}</b></span><br>
                            <span><b>Contacts: {{guardian_contacts}}</b></span><br> 
                            <span><b>Address: {{guardian_address}}</b></span><br>               
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
       <div class="alert alert-dismissible alert-primary white">
    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
    <!-- <h4 class="alert-heading">Remain!</h4> -->
    Please Review All Of The Information Before Clicking The Apply Button
    </div>
      <button class="btn btn-info float-right" @click.prevent="apply">Apply</button>
      </form>
</div>

  
</template>

<script>
  export default {  
      name: 'app',
      props: ['auth_user'],
    data: function() {
      return { 
        current_user: this.auth_user,
        user_id:'',
        user_email:'',
        picture: '',
        card: '',
        nso: '',
        good_moral: '',
        ncae: '',
        interview_slip: '',

        tor: '',
        honorable_dismissal: '',
        eog: '',

        clearance: '',
        cog: '',

        application_date: '',

        sys: '',
        application_id: '',
        school_year: '',
        semester: '',
        course: '',
        year: '',
        old_new_student: '',
        regular_iregular: '',
        fullname: '',
        firstname: '',
        lastname: '',
        middlename: '',
        initial: '',
        address: '',
        street: '',
        barangay: '',
        municipality: '',
        province: '',
        sex: '',
        birthdate: '',
        civilstatus: '',
        contact: '',
        email: '',
        last_school_attended: '',
        year_graduated: '',
        last_school_address: '',
        father: '',
        father_occupation: '',
        father_address: '',
        mother: '',
        mother_occupation: '',
        mother_address: '',
        guardian: '',
        guardian_occupation: '',
        guardian_address: '',
        guardian_contacts: '',
        subjects: '',
        total_subjects: 0,
        total_units: 0,
        zipcode:'',
         subject: {
            id: '',
            course: '',
            year: '',
            semester: '',
            code: '',
            title: '',
            description: '',
            units: 0,
            prerequisite: ''
          }, 



      }
    },
    
    created() {
    //  this.searchSubjectCourse();
    // let root = this.$root;
     this.email = this.current_user.email;
     this.user_id = this.current_user.id;
    // console.log(this.current_user.id);
    //  this.email = this.current_user.email;
     this.fetchsys();

      let today = new Date();
      this.application_date = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();

      console.log(this.application_date);
    //  let vm = this;
    //  let subjects = vm.subjects;
    //  for (const subject in subjects) {
    //     vm.total_subjects++;
    //     if (subjects.hasOwnProperty(subject)) {
    //       const element = subjects[subject];
    //       let arr = [];
    //       arr = element;
    //       // vm.total_units += (element.units);
    //       console.log(arr);
          
    //     }
    //   }



    //  console.log('subjects '+subject[code]);
     
              // var subjects = response.data;
              // for (let subject in subjects) {
              //   total_units += subject.units;
              // }
              // console.log(total_units);
    //  let total_units = 0;  
    //  let vm = this;   
    },

      methods: { 
        fetchsys: function(){
          let vm = this;
           axios.get(`http://bpc.org/api/sys`)
            .then(function (response) {
              vm.sys = response.data;
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },
        searchSubjectCourse() {
          let vm = this;
          let course = vm.course;
          let year = vm.year;
           axios.get(`http://bpc.org/subjects/${course}/${year}`)
            .then(function (response) {
              vm.subjects = response.data;
              var subjects = {};
              var total=0;
              subjects = response.data;
              for (const subject in subjects) {
                vm.total_subjects++;
                if (subjects.hasOwnProperty(subject)) {
                  const element = subjects[subject];
                  vm.total_units += (element.units);
                  
                }
              }
            })
             .catch(function (error) {            
              console.log('error' + error);
            });
        },
        apply: function () {
              let vm = this;
              axios.post('http://bpc.org/api/student/submit-application', {
                user_id: vm.user_id,
                application_date: vm.application_date,
                picture: vm.picture,
                card: vm.card,
                nso: vm.nso,
                good_moral: vm.good_moral,
                ncae: vm.ncae,
                interview_slip: vm.interview_slip,

                tor: vm.tor,
                honorable_dismissal: vm.honorable_dismissal,
                eog: vm.eog,

                clearance: vm.clearance,
                cog: vm.cog,

                application_date: vm.application_date,
                course:  vm.course,
                year:  vm.year,
                old_new_student:  vm.old_new_student,
                regular_iregular:  vm.regular_iregular,
                fullname: vm.fullname,
                firstname: vm.firstname,
                lastname: vm.lastname,
                middlename: vm.middlename,
                initial: vm.initial,
                zipcode: vm.zipcode,
                address: vm.address,
                street: vm.street,
                barangay: vm.barangay,
                municipality: vm.municipality,
                province: vm.province,
                sex: vm.sex,
                birthdate: vm.birthdate,
                civilstatus: vm.civilstatus,
                contact: vm.contact,
                email: vm.email,
                last_school_attended: vm.last_school_attended,
                year_graduated: vm.year_graduated,
                last_school_address: vm.last_school_address,
                father: vm.father,
                father_occupation: vm.father_occupation,
                father_address: vm.father_address,
                mother: vm.mother,
                mother_occupation: vm.mother_occupation,
                mother_address: vm.mother_address,
                guardian: vm.guardian,
                guardian_occupation: vm.guardian_occupation,
                guardian_address: vm.guardian_address,
                guardian_contacts: vm.guardian_contacts
            })
            .then(function (response) {
            //  vm.fetchTuit_fees();
            //  vm.clear();
              // console.log('respones'+response);
              console.log(response);
              if(response.data['message'] === 'error'){
                alert(response.data['field'] + ' empty field');
              }else{
                window.location.href = 'http://bpc.org/student-info';
              }
              
              // vm.misc_fees = response.data;
            })
            .catch(function (error) {
            //  vm.fetchTuit_fees();
            //  vm.clear();
              console.log('error'+error);
            });
        },
        onFileSelected: function(event){
          // console.log(event);

          let file = event.target.files[0];
          let reader = new FileReader();
          // const fd = new FormData();

          if(file['size'] < 2111775){
              reader.onloadend = (file) => {

                if(event.target.id == 'picture'){
                  this.picture = reader.result;
                  // this.picture = event.target.files[0];
                  // fd.append('picture', this.picture, this.picture.name);
                  console.log(this.picture);
                }else if(event.target.id == 'card'){
                  this.card = reader.result;
                }else if(event.target.id == 'nso'){
                  this.nso = reader.result;
                }else if(event.target.id == 'good_moral'){
                  this.good_moral = reader.result;
                }else if(event.target.id == 'ncae'){
                  this.ncae = reader.result;
                }else if(event.target.id == 'interview_slip'){
                this.interview_slip = reader.result;
                }else if(event.target.id == 'tor'){
                  this.tor = reader.result;
                }else if(event.target.id == 'honorable_dismissal'){
                  this.honorable_dismissal = reader.result;
                }else if(event.target.id == 'eog'){
                  this.eog = reader.result;
                }else if(event.target.id == 'clearance'){
                  this.clearance = reader.result;
                }else if(event.target.id == 'cog'){
                this.cog = reader.result;
                }
              }
              reader.readAsDataURL(file);
          }else{
            let targetId = event.target.id;
            document.getElementById(targetId).value = '';
            alert('File size to large. choose less than 2mb');
          }


        },
        uploadFiles: function(){
          axios.post()  
        }

     }
    
  }
</script>

<style>
.btn{
  width:120px;
}
</style>
