<template>
 
<div id="app">
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="instructors_id">Instructor ID</label>
                <input v-model="instructors_id" required type="text" class="form-control" id="instructors_id" placeholder="Instructor ID">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="email">email</label>
                <input v-model="email" required type="text" class="form-control" id="email" placeholder="email">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input v-model="name" required type="text" class="form-control" id="name" placeholder="Name">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="address">Address</label>
                <input v-model="address" required type="text" class="form-control" id="address" placeholder="Address">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input v-model="birthdate" required type="text" class="form-control" id="birthdate" placeholder="Birthdate">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="contact_admin">Contact for Admin</label>
                <input v-model="contact_admin" required type="text" class="form-control" id="contact_admin" placeholder="Contact for Admin">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="contact_student">Contact for Students</label>
                <input v-model="contact_student" required type="text" class="form-control" id="Contact for Students" placeholder="contact_student">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="educational_attainment">Highest Educational Attainment</label>
                <input v-model="educational_attainment" required type="text" class="form-control" id="educational_attainment" placeholder="Highest Educational Attainment">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="description">Additional Description</label>
                <input v-model="description" required type="text" class="form-control" id="Additional Description" placeholder="description">
              </div>
            </div>
          </div>  <!-- ROW -->
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchInstructors" class="btn btn-success" >Get</button> -->
        <button id="addInstructor"  v-bind:disabled="save"  v-on:click="addInstructor" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Instructor</button><br>
        <button id="updateInstructor" v-bind:disabled="update"  v-on:click="updateInstructor" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Instructor ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Contact(Admin)</th>
        <th>Contact(Student)</th>
        <th>Educational Attainment</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="instructor in instructors" v-bind:key="instructor.id">
        <!-- <td>{{ instructor.id }}</td> -->
        <td>{{ instructor.instructors_id }}</td>
        <td>{{ instructor.email }}</td>
        <td>{{ instructor.name }}</td>
        <td>{{ instructor.birthdate }}</td>
        <td>{{ instructor.contact_admin }}</td>
        <td>{{ instructor.contact_student }}</td>
        <td>{{ instructor.educational_attainment }}</td>
        <td>{{ instructor.description }}</td>
        <td><button v-on:click="editInstructor(instructor)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteInstructor(instructor.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>
  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       app_url: 'http://localhost:14',
       update: true,
       save: false,
          isButtonDisabled: null,
       alerts: '',
      filter_item_name: '',
      filter_brand_name: '',
      filter_status: '',
      filter_description: '',
      filter_last_location: '',
      filter_new_location: '',


      instructors: '',
      id: '',
      instructors_id: '',
      name: '',
      age: '',
      birthdate: '',
      address: '',
      email: '',
      contact_admin: '',
      contact_student: '',
      educational_attainment: '',
      description: '',
      picture: '',
      password: ''
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchInstructors();
    },

    methods: { 
      fetchInstructors () {
          let vm = this;
         axios.get(vm.app_url+'/api/instructors')
          .then(function (response) {
            console.log(response.data);
            vm.instructors = response.data;
          });
        },
      filter_item: function () {
          let vm = this;
         axios.get(vm.app_url+`/api/instructors/${vm.filter_item_name}/${vm.filter_brand_name}/${vm.filter_status}/${vm.filter_description}/${vm.filter_last_location}/${vm.filter_new_location}`)
          .then(function (response) {
            console.log(response.data);
                        vm.instructors = response.data;
          });
        },
        addInstructor () {
              let vm = this;
              axios.post(vm.app_url+'/api/instructors', {
                instructors_id: vm.instructors_id,
                email: vm.email,
                name: vm.name,
                address: vm.address,
                birthdate: vm.birthdate,
                contact_admin: vm.contact_admin,
                contact_student: vm.contact_student,
                educational_attainment: vm.educational_attainment,
                description: vm.description
            })
            .then(function (response) {
             vm.fetchInstructors();
             vm.clear();
              console.log('success: ' + response);
            })
            .catch(function (error) {
             vm.fetchInstructors();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editInstructor (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.instructors_id = item.instructors_id;
          vm.email = item.email;
          vm.name = item.name;
          vm.address = item.address;
          vm.birthdate = item.birthdate;
          vm.contact_admin = item.contact_admin;
          vm.contact_student = item.contact_student;
          vm.educational_attainment = item.educational_attainment;
          vm.description = item.description;
      },
        updateInstructor () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(vm.app_url+`/api/instructors/${vm.id}`, {  
                instructors_id: vm.instructors_id,
                email: vm.email,
                name: vm.name,
                address: vm.address,
                birthdate: vm.birthdate,
                contact_admin: vm.contact_admin,
                contact_student: vm.contact_student,
                educational_attainment: vm.educational_attainment,
                description: vm.description
            })
            .then(function (response) {
             vm.fetchInstructors();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchInstructors();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteInstructor (id) {
              let vm = this;
              axios.delete(vm.app_url+`/api/instructors/${id}`)
            .then(function (response) {
             vm.fetchInstructors();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchInstructors();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.instructors_id = '',
          vm.email = '',
          vm.name = '',
          vm.address = '',
          vm.birthdate = '',
          vm.contact_admin = '',
          vm.contact_student = '',
          vm.educational_attainment = '',
          vm.description = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
