<template>
 
<div id="app">
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="student_id">Student ID</label>
                <input v-model="student_id" required type="text" class="form-control" id="student_id" placeholder="Student ID">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <!-- <label for="irregular">Regular</label>
               <input type="radio" v-model="regular" v-bind:value="a"> -->
                <label for="regular">Regular</label>
                <input v-model="regular" required type="text" class="form-control" id="regular" placeholder="Regular">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-4">
              <div class="form-group">
                <label for="first_name">Firstname</label>
                <input v-model="first_name" required type="text" class="form-control" id="first_name" placeholder="Firstname">
              </div>
            </div>
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input v-model="middle_name" required type="text" class="form-control" id="middle_name" placeholder="Middle Name">
              </div>
            </div>
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="last_name">Surname</label>
                <input v-model="last_name" required type="text" class="form-control" id="last_name" placeholder="Surname">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">        
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="course">Course</label>
                <input v-model="course" required type="text" class="form-control" id="course" placeholder="Course">
              </div>
            </div>
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="year">Year</label>
                <input v-model="year" required type="text" class="form-control" id="year" placeholder="Year">
              </div>
            </div>   
            <div class="col-lg-4">
              <div class="form-group">
                <label for="section">Section</label>
                <input v-model="section" required type="text" class="form-control" id="section" placeholder="Section">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">       
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="school_year">School Year</label>
                <input v-model="school_year" required type="text" class="form-control" id="school_year" placeholder="School Year">
              </div>
            </div>
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="semester">Semester</label>
                <input v-model="semester" required type="text" class="form-control" id="semester" placeholder="Semester">
              </div>
            </div>
          </div>  <!-- ROW -->
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchStudents" class="btn btn-success" >Get</button> -->
        <button id="addStudent"  v-bind:disabled="save"  v-on:click="addStudent" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Student</button><br>
        <button id="updateStudent" v-bind:disabled="update"  v-on:click="updateStudent" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Student ID</th>
        <th>Name</th>
        <th>Regular</th>
        <th>Course</th>
        <th>Year</th>
        <th>Section</th>
        <th>SYS</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="student in students" v-bind:key="student.id">
        <!-- <td>{{ student.id }}</td> -->
        <td>{{ student.student_id }}</td>
        <td>{{ student.last_name }}, {{ student.first_name }} {{ student.middle_name }}</td>
        <td>{{ student.regular }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.year }}</td>
        <td>{{ student.section }}</td>
        <td>{{ student.semester  }} Sem {{ student.school_year }} </td>
        <td><button v-on:click="editStudent(student)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteStudent(student.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>

  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       app_url: 'http://localhost:14',
       update: true,
       save: false,
          isButtonDisabled: null,
       alerts: '',
      filter_item_name: '',
      filter_brand_name: '',
      filter_status: '',
      filter_description: '',
      filter_last_location: '',
      filter_new_location: '',


      students: '',
      id: '',
      student_id: '',
      students_id: '',
      name: '',
      first_name: '',
      last_name: '',
      middle_name: '',
      regular: "",
      course: '',
      year: '',
      section: '',
      school_year: '',
      semester: "",
      password: ''
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }

      console.log('start');
      this.fetchStudents();
    },

    methods: { 
      fetchStudents () {
          let vm = this;
         axios.get(vm.app_url+'/api/manage_students')
          .then(function (response) {
            console.log(response.data);
            vm.students = response.data;
          });
        },
      filter_item: function () {
          let vm = this;
         axios.get(vm.app_url+`/api/manage_students/${vm.filter_item_name}/${vm.filter_brand_name}/${vm.filter_status}/${vm.filter_description}/${vm.filter_last_location}/${vm.filter_new_location}`)
          .then(function (response) {
            console.log(response.data);
                        vm.students = response.data;
          });
        },
        addStudent () {
              let vm = this;
              axios.post(vm.app_url+'/api/manage_students', {
                student_id: vm.student_id,
                last_name: vm.last_name,
                middle_name: vm.middle_name,
                first_name: vm.first_name,
                regular: vm.regular,
                course: vm.course,
                year: vm.year,
                section: vm.section,
                school_year: vm.school_year,
                semester: vm.semester
            })
            .then(function (response) {
             vm.fetchStudents();
             vm.clear();
              console.log('success: ' + response);
            })
            .catch(function (error) {
             vm.fetchStudents();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editStudent (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.student_id = item.student_id;
          vm.last_name = item.last_name;
          vm.first_name = item.first_name;
          vm.middle_name = item.middle_name;
          vm.regular = item.regular;
          vm.course = item.course;
          vm.year = item.year;
          vm.section = item.section;
          vm.school_year = item.school_year;
          vm.semester = item.semester;
      },
        updateStudent () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(vm.app_url+`/api/manage_students/${vm.id}`, {  
                student_id: vm.student_id,
                last_name: vm.last_name,
                middle_name: vm.middle_name,
                first_name: vm.first_name,
                regular: vm.regular,
                course: vm.course,
                year: vm.year,
                section: vm.section,
                school_year: vm.school_year,
                semester: vm.semester
            })
            .then(function (response) {
             vm.fetchStudents();
             vm.clear();
              console.log('updated: ' + response.data);
            })
            .catch(function (error) {
             vm.fetchStudents();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteStudent (id) {
              let vm = this;
              axios.delete(vm.app_url+`/api/manage_students/${id}`)
            .then(function (response) {
             vm.fetchStudents();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchStudents();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.save = false;
          vm.update = true;
          vm.student_id = '',
          vm.last_name = '',
          vm.first_name = '',
          vm.middle_name = '',
          vm.regular = '',
          vm.course = '',
          vm.year = '',
          vm.section = '',
          vm.school_year = '',
          vm.semester = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
