<template>
<div id="app">
    <!-- Getting My Section -->
        <tr v-for="my in my_student_info" v-bind:key="my.id">
            <!-- <td>{{ total_student }}</td> -->
            <td>{{ my.course != '' ? saveCourse( my.course) : 'No Course' }}</td>
            <td>{{ my.year != '' ? saveYear( my.year) : 'No Year' }}</td>
            <td>{{ my.section != null ? saveCurrentSection( my.section) : noSection() }}</td>
        </tr>

    <!-- end Getting My Section -->

   <div class="row justify-content-center">
        <div class="col-md-10 mt-2">
            <div class="card">
                <div class="card-header">Filter By Course & Year</div>

                <div class="card-body">
                   <div class="row">        
                        <div class="col-lg-4">          
                            <label for="filter_section">Section</label>
                            <select id="filter_section" class="form-control" v-model="filter_section" required>
                              <option class="dropdown-item" value="A">A</option>
                              <option class="dropdown-item" value="B">B</option>
                              <option class="dropdown-item" value="C">C</option>
                              <option class="dropdown-item" value="D">D</option>
                            </select>
                        </div>  
                        <div class="col-lg-3">      
                          <br>    
                            <button v-on:click="getBatch()" class="btn btn-info" >Search</button>
                        </div>   
                        <div class="col-lg-3">      
                          <br>    
                            <button  v-bind:disabled="update" v-on:click="updateSection()" class="btn btn-info" >Choose This Section</button>
                        </div>    
                        </div>    
                </div>
            </div>
        </div>
    </div>  <!-- end -->
    <h4>Course: {{my_course}} Year: {{my_year}} Section: {{filter_section}} <span class="float-right">My Section: {{my_current_section}}</span></h4>
    <table class="table">
        <tr>
          <th>#</th>
            <th>Fullname</th>
        </tr>  
        
        <tr v-for="(value, key, index) in students" v-bind:key="index">
            
            <td>{{ (key)+1 }}</td>
            <td>{{ value.last_name + ', '+ value.first_name +' '+ value.initial + '.'}}</td>
            <!-- <td>{{ student.my_year}}</td> -->
        </tr>
        <tr><td>{{no_students == true ? 'No Students Enrolled in This Section' : ''}}</td></tr>
    </table>

</div> <!-- Div #App -->
</template>

<script>
  
  export default {  
    name: 'app',
    props: ['auth_user'],
    data: function() {
        return { 
            current_user: this.auth_user,
            user_id: '',
            my_student_info:'',
            my_course:'',
            my_year:'',
            my_current_section: 'No Section',
            students:'',
            no_students: false,
            filter_section: '',

            total_student: 1,
            application_date:'',
          isButtonDisabled: null,
          update: true,


        }
      }
    ,
    
    created() {
    },  
    mounted() {
        let vm = this;
           vm.user_id = vm.current_user.id;
        //    vm.my_course = vm.current_user.id;
        //    vm.my_year = vm.current_user.id;
            console.log(vm.user_id);
            vm.getMyInfo();
            // vm.getBatch();
            //     console.log(vm.my_student_info);
            // for (const student_info in vm.my_student_info) {
            //      console.log('student_info.first_name '+student_info.first_name);
            //     if (object.hasOwnProperty(student_info)) {
            //         const element = object[student_info];
            //         console.log('element'+element);
            //     }else{
            //          console.log('no element');
            //     }
            // }

                 let today = new Date();
      vm.application_date = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();

      console.log(vm.application_date);
    },

    methods: { 

        // current_sys: function(){
        //   let vm = this;
        //    axios.get(`http://bpc.org/getmyinfo/${vm.current_user.email}`)
        //     .then(function (response) {
        //       vm.my_student_info = response.data;
        //     //  console.log(vm.my_student_info);
        //     })
        //      .catch(function (error) {
        //      console.log('Error: ' + error);
        //     });
        // },

        getMyInfo: function(){
          let vm = this;
           axios.get(`http://bpc.org/getmyinfo/${vm.current_user.email}`)
            .then(function (response) {
              vm.my_student_info = response.data;
            //  console.log(vm.my_student_info);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },
        getBatch: function(){
          let vm = this;
          console.log("my_course " + vm.my_course);
          console.log("my_year " +  vm.my_year);
          console.log("filter_section " +  vm.filter_section);
           axios.get(`http://bpc.org/getbatch/${vm.my_course}/${vm.my_year}/${vm.filter_section}`)
            .then(function (response) {
              vm.students = response.data;
              if(response.data == null){
                vm.no_students = true;
              }else if(response.data == ''){
                vm.no_students = true;
              }else if(response.data == '[]'){
                vm.no_students = true;
              }else{
                  vm.no_students = false;
              }
               vm.total_student=0;
             console.log(vm.sections);
            })
             .catch(function (error) {
            vm.total_student=0;
            });
        },

        updateSection(){
          let vm = this;
           axios.put(`http://bpc.org/sectioning/${vm.user_id}/${vm.filter_section}`,{
                id: vm.user_id, 
                section: vm.filter_section,
           })
            .then(function (response) {
              vm.getMyInfo();
              // vm.my_current_section = response.data.section;
             console.log(vm.response.data);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },

        fetchNumber(){
          let vm = this;
          vm.total_student++;       
          return vm.total_student;   
        },

        saveCourse(course){
          let vm = this;
          vm.my_course = course;        
        },

        saveYear(year){
          let vm = this;
          vm.my_year = year;
        },

        saveCurrentSection(current_section){
          let vm = this;
          vm.update=true;
          vm.my_current_section = current_section;
        },

        noSection(){
          let vm = this;
          vm.my_current_section = 'No Section';
          
          vm.update=false;
        },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }//methods

  }
</script>
