<template>
<div id="app">
    <h1>Registrar Applications</h1>
    
    <button v-on:click="fetchCollegeApplications()" class="btn btn-success" >ReFresh</button>
     <!-- <button v-on:click="fetchCollegeApplicationsByDate()" class="btn btn-info" >Filter by Date</button> -->
      <div class="row justify-content-center">
        <div class="col-md-10 mt-2">
            <div class="card">
                <div class="card-header">Filter By Course & Year</div>

                <div class="card-body">
                   <div class="row">           
                      <div class="col-lg-4">
                          <label for="filter_subject_course">Course</label>
                            <select id="filter_subject_course" class="form-control" v-model="filter_subject_course" required>
                              <option value="BSIS">BSIS</option>
                              <option value="BSOM">BSOM</option>
                              <option value="BTVTED">BTVTED</option>
                              <option value="BSAIS">BSAIS</option>
                              <option value="ACT">ACT</option>
                              <option value="HRS">HRS</option>
                              <option value="CSS">CSS</option>
                              <option value="CS">CS</option>
                              <option value="EIM">EIM</option>
                            </select>
                        </div>
                        <div class="col-lg-4">          
                            <label for="filter_subject_year">Year</label>
                            <select id="filter_subject_year" class="form-control" v-model="filter_subject_year" required>
                              <option value="1">1st</option>
                              <option value="2">2nd</option>
                              <option value="3">3rd</option>
                              <option value="4">4th</option>
                            </select>
                        </div>
                        <!-- <div class="col-lg-4">          
                            <label for="filter_subject_section">section</label>
                            <select id="filter_subject_section" class="form-control" v-model="filter_subject_section" required>
                              <option value="1">1st</option>
                              <option value="2">2nd</option>
                              <option value="3">3rd</option>
                              <option value="4">4th</option>
                            </select>
                        </div>   -->
                        <div class="col-lg-4">      
                          <br>    
                            <button v-on:click="filterByCourseYear()" class="btn btn-info" >Search</button>
                        </div>    
                        </div>    
                </div>
            </div>
        </div>
    </div>  <!-- end -->

      



<div  v-for="application in applications" v-bind:key="application.id" id='student' class='card p-3'>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Student Info</div>

                <div class="card-body">
                   
                     <div class="row">    
                      
                        <div class="col-lg-5">        
                            <span><b>Student ID: {{application.student_id}} </b></span><br>
                            <span><b>{{application.new_returnee_transferee}} Student ({{application.regular_irregular}})</b></span><br>
                            <span><b>Enrollment Status: {{application.application_status}} </b></span><br>
                           
                             <span><b>Date Enrolled: {{application.updated_at}} </b></span><br>
                          
                            <span><b>{{application.first_name}} {{application.initial}}. {{application.last_name}}</b></span><br>
                            <span><b>{{application.course}} {{application.year}} {{application.section == null ? '(No Section Yet)' : application.section}}</b></span><br>
                        </div>
                        <div class="col-lg-5">     
                            <span><b>Birthdate: {{application.birthdate}}</b></span><br>  
                            <span><b>Sex: {{application.sex}} Civil Status: {{application.civil_status}}</b></span><br>  
                            <span><b>Contacts: {{application.contact}}</b></span><br>    
                            <span><b>Email: {{application.email}}</b></span><br>               
                            <span><b>Address: {{application.street}} {{application.barangay}} {{application.city}} {{application.province}}</b></span><br>         
                        </div>
                     </div>

                  
                </div>
            </div>
        </div>
    </div> 
<br>
<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Other Information</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-12">   
                        <div class="row">
                          <div class="col-8">
                            <span><b>Last School Attended: {{application.last_school}} </b></span>
                          </div>
                          <div class="col-4">
                            <span><b>Year Graduated: {{application.year_graduated}}</b></span>
                          </div>
                        </div>
                            <span><b>School Address: {{application.last_school_address}}</b></span><br>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

    
<br>
<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Parents/Guardian Information</div>

                <div class="card-body">
                     <div class="row">
                        <div class="col-lg-4">     
                            <span><b>Father: {{application.father_name}}</b></span><br>    
                            <span><b>Occupation: {{application.father_occupation}}</b></span><br>
                            <span><b>Address: {{application.father_address}}</b></span><br>  
                            <span><b>Contact No: {{application.father_contact}}</b></span><br>               
                        </div>
                        <div class="col-lg-4">     
                            <span><b>Mother: {{application.mother_name}}</b></span><br>    
                            <span><b>Occupation: {{application.mother_occupation}}</b></span><br>
                            <span><b>Address: {{application.mother_address}}</b></span><br>   
                            <span><b>Contact No: {{application.mother_contact}}</b></span><br>              
                        </div>
                        <div class="col-lg-4">     
                            <span><b>Guardian: {{application.guardian_name}}</b></span><br>    
                            <span><b>Occupation: {{application.guardian_occupation}}</b></span><br>
                            <span><b>Address: {{application.guardian_address}}</b></span><br>   
                            <span><b>Contact No: {{application.guardian_contact}}</b></span><br>              
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

        <button v-on:click="updateEnrolled(application.email)" class="btn btn-success" >{{ application.application_status == 'Enrolled' ? 'Enrolled': 'Enroll' }}</button>
      
</div>

     
</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 

      filter_subject_course: 'BSIS',
      filter_subject_year: '1',
      filter_SY: '2018',
      filter_semester: '1',
      
          statusEnrolled: false,
          requirementsComplete: true,
          isButtonDisabled: null,
          CompleteIncomplete: 'Incomplete',
          student_portal_id: '',
            name: '',
        application:'' ,
        applications:'',

        
        picture: '',
        card: '',
        nso: '',
        good_moral: '',
        ncae: '',
        interview_slip: '',

        tor: '',
        honorable_dismissal: '',
        eog: '',

        clearance: '',
        cog: '',

        application_date: '',

        sys: '',
        application_id: '',
        school_year: '',
        semester: '',
        course: 'BSIS',
        year: '1',
        old_new_student: 'new',
        regular_iregular: 'regular',
        fullname: '',
        firstname: '',
        lastname: '',
        middlename: '',
        initial: '',
        address: '',
        street: '',
        barangay: '',
        municipality: '',
        province: '',
        sex: '',
        civilstatus: '',
        contact: '',
        email: '',
        last_school_attended: '',
        year_graduated: '',
        last_school_address: '',
        father: '',
        father_occupation: '',
        father_address: '',
        mother: '',
        mother_occupation: '',
        mother_address: '',
        subjects: '',
        total_subjects: 0,
        total_units: 0,
         subject: {
            id: '',
            course: '',
            year: '',
            semester: '',
            code: '',
            title: '',
            description: '',
            units: 0,
            prerequisite: ''
          }, 
            sy: '',
            sys: [],
           semester: 1,
           start_year: 2018,
           end_year: 2019,
        }
      }
    ,
    
    created() {
      
      this.fetchCollegeApplications();
      // this.fetchSYS();
    },  
    mounted() {
      
    },

    methods: { 

        fetchCollegeApplications: function(){
          let vm = this;
           axios.get(`http://bpc.org/api/college-application`)
            .then(function (response) {
              vm.applications = response.data;
             console.log(vm.applications);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },
         fetchCollegeApplicationsByDate: function(){
          let vm = this;
          let searchDate = vm.searchByDate;
           axios.get(`http://bpc.org/api/college-application/${searchDate}`)
            .then(function (response) {
              vm.applications = response.data;
             console.log(vm.applications);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },
        updateEnrolled (email) {
              let vm = this;
              axios.put(`http://bpc.org/api/college-application/${email}`, {              
                status: 'Enrolled'
            })
            .then(function (response) {
             vm.fetchCollegeApplications();
            //  vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchCollegeApplications();
            //  vm.clear();
              console.log('Error: ' + error);
            });
        },
        setComplete: function(){
              let vm = this;
          vm.requirementsComplete = true;
          vm.isButtonDisabled = false;
          vm.CompleteIncomplete = 'Complete';
          return '';
          
        },
        setIncomplete: function(){
              let vm = this;
          vm.requirementsComplete = false;
          vm.isButtonDisabled = true;
          vm.CompleteIncomplete = 'Incomplete';
          return '';
        },
        setStatusEnrolled: function(){
              let vm = this;
          vm.statusEnrolled = true;
          vm.isButtonDisabled = true;
          return '';
        },
        setStatusOngoing: function(){
              let vm = this;
          vm.statusEnrolled = false;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        },
        filterByCourseYear: function () {
          let vm = this;
         axios.get(`http://bpc.org/college-applications/${vm.filter_subject_course}/${vm.filter_subject_year}`)
          .then(function (response) {
            console.log(response.data);
            vm.applications = response.data;
          });
        },
        filterBySYS: function () {
          let vm = this;
         axios.get(`http://bpc.org/college-applications/sys/${vm.filter_semester}/${vm.filter_SY}`)
          .then(function (response) {
            console.log(response.data);
            vm.applications = response.data;
          });
        },
      fetchSYS: function  () {
          let vm = this;
         axios.get('http://bpc.org/api/sys-all')
          .then(function (response) {
            console.log(response.data);
            vm.sys = response.data;
          });
        },
      displayPicture: function  (filename) {
          let vm = this;
         
         return '<img src="/storage/requirements/thumbnail/'+filename+' style=width:100px;>';
        },
      fetchCollegeApplicationsByDate: function () {
        let vm = this;

                 let today = new Date();
      let dateToday = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();

      console.log('Date Today:' + dateToday);
        // console.log('date'+date);
        // axios.get(`http://bpc.org/college-applications/sys/${vm.filter_semester}/${vm.filter_SY}`)
        // .then(function (response) {
        //   console.log(response.data);
        //   vm.applications = response.data;
        // });
      }

    }

  }
</script>
<style>
  .success{
    color: green;
  }
  .onGoing{
    color: rgb(255, 166, 0);
  }
  .incRequirements{
    color: red;
  }
</style>
