<template>
 
<div id="app">
    <h3>Course</h3>
  <center>
  <h4> {{sys.semester === 1 ? sys.semester+'st': sys.semester+'nd'}} Semester School Year {{sys.start_year}} - {{sys.end_year}} </h4>
 </center>
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="course_code">Course Code</label>
                <input v-model="course_code" required type="text" class="form-control" id="course_code" placeholder="Course Code">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="description">Description</label>
                <input v-model="description" required type="text" class="form-control" id="description" placeholder="Description">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="year">Year/s</label>
                <input v-model="year" required type="text" class="form-control" id="year" placeholder="Year/s">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="sections">Sections</label>
                <input v-model="sections" required type="text" class="form-control" id="sections" placeholder="Sections">
              </div>
            </div>
          </div>  <!-- ROW -->
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchCourses" class="btn btn-success" >Get</button> -->
        <button id="addCourse"  v-bind:disabled="save"  v-on:click="addCourse" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Course</button><br>
        <button id="updateCourse" v-bind:disabled="update"  v-on:click="updateCourse" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >Clear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Course Code</th>
        <th>Description</th>
        <th>Year/s</th>
        <th>Sections</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="course in courses" v-bind:key="course.id">
        <!-- <td>{{ course.id }}</td> -->
        <td>{{ course.course_code }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.year }}</td>
        <td>{{ course.sections }}</td>
        <td><button v-on:click="editcourse(course)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deletecourse(course.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>
  export default {  
      name: 'app',
    data: function() {
     return { 
       
       app_url: 'http://localhost:14',
       update: true,
       save: false,
          isButtonDisabled: null,

      courses: '',
      id: '',
      course_code: '',
      description: '',
      year: '',
      sections: '',
      sys: ''
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchCourses();
      this.fetchSys();
    },

    methods: { 
      fetchSys () {
          let vm = this;
         axios.get( vm.app_url + '/api/sys')
          .then(function (response) {
            console.log(response.data);
            vm.sys = response.data;
          });
        },
      fetchCourses () {
          let vm = this;
         axios.get( vm.app_url + '/api/course')
          .then(function (response) {
            console.log(response.data);
            vm.courses = response.data;
          });
        },
        addCourse () {
              let vm = this;
              axios.post( vm.app_url + '/api/course', {
                course_code: vm.course_code,
                description: vm.description,
                year: vm.year,
                sections: vm.sections
            })
            .then(function (response) {
             vm.fetchCourses();
             vm.clear();
              console.log('success: ' + response);
            })
            .catch(function (error) {
             vm.fetchCourses();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editcourse (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.course_code = item.course_code;
          vm.description = item.description;
          vm.year = item.year;
          vm.sections = item.sections;
      },
        updateCourse () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put( vm.app_url + `/api/course/${vm.id}`, {  
                course_code: vm.course_code,
                description: vm.description,
                year: vm.year,
                sections: vm.sections
            })
            .then(function (response) {
             vm.fetchCourses();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchCourses();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deletecourse (id) {
              let vm = this;
              axios.delete( vm.app_url + `/api/course/${id}`)
            .then(function (response) {
             vm.fetchCourses();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchCourses();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.course_code = '',
          vm.year = '',
          vm.sections = '',
          vm.description = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
