<template>
<div id="app">
    
    <h3>Enrollment Procedure</h3>
 <div class="row mb-3">           
          <div class="col-lg-4">
              <label for="level">Level</label>
                <select id="level" class="form-control" v-model="level" required>
                  <option value="college">College</option>
                </select>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="description">Procedure</label>
                    <input v-model="description" required type="text" class="form-control" id="description" placeholder="Name">
                </div>
            </div>
            <div class="col-lg-4">
            </div>
 </div> 
 
         
<button id="AddMisc" v-on:click="addMiscFee" class="btn btn-primary" >Update</button>

</div>
</template>

<script>
 
		   CKEDITOR.replace( 'editor1' );	
	
  export default {  
    name: 'app',
    data: function() {
        return { 
            name: ''
        }
      }
    ,
    
    created() {
   
    },  
    mounted() {
      
    },

    methods: { 

    }

  }
</script>
