<template>
<div id="miscfee">
    <h3>Miscellaneous Fees</h3>
 <div class="row mb-3">           
          <div class="col-lg-4">
              <label for="level">Level</label>
                <select id="level" class="form-control" v-model="level" required>
                  <option value="deped">DepEd</option>
                  <option value="techvoc">TechVoc</option>
                  <option value="ched">CHED</option>
                </select>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="name" required type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input v-model="amount" required type="text" class="form-control" id="amount" placeholder="Amount">
                </div>
            </div>
 </div> 
<button  v-bind:disabled="save"  id="AddMisc" v-on:click="addMiscFee" class="btn btn-primary" >Add</button>
<button  v-bind:disabled="update"  id="updateMisc" v-on:click="updateMiscFee" class="btn btn-primary" >update</button>
<button id="Clear" v-on:click="clear" class="btn btn-info" >CLear</button>

    <br><br>    
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_level">Level</label>
                <select id="filter_level" class="form-control" v-model="filter_level" required>
                  <option value="ched">CHED</option>
                  <option value="techvoc">TechVoc</option>
                  <option value="deped">DepEd</option>
                </select>
            </div>          
          <div class="col-lg-2">
             <button v-on:click="filterMiscFee()" class="btn btn-info" >Filter</button>
            </div>          
          <div class="col-lg-3">
            <button v-on:click="fetchMisc_fees()" class="btn btn-info" >All</button>
            </div>
          </div> 

    <table class="table table-responsive  mt-2">
      <tr>
        <th>level</th>
        <th>name</th>
        <th>amount</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="misc_fee in misc_fees" v-bind:key="misc_fee.id">
        <!-- <td>{{ misc_fee.id }}</td> -->
        <td>{{ misc_fee.level }}</td>
        <td>{{ misc_fee.name }}</td>
        <td>{{ misc_fee.amount }} <span>{{ addAmount(misc_fee.amount) }}</span></td>
        <td><button v-on:click="editMiscFee(misc_fee)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteMiscFee(misc_fee.id)" class="btn btn-danger" >Archieve</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Total Amount: {{total_amount}} pesos</td>
      </tr>
    </table>  

</div>
</template>

<script>
 
  export default {  
    name: 'miscfee',
    data: function() {
        return {
          update: true,
          save: false,
          isButtonDisabled: null,
          filter_level: '',

            misc_fees: [],
            misc_fee_id: '',
            misc_fee: '',
            level: '',
            name: '',
            amount: '',
            total_amount: 0,
        }
      }
    ,
    
    created() {
      // this.fetchMisc_fees();
    },  
    mounted() {
      
    },

    methods: { 
        fetchMisc_fees: function () {
          let vm = this;
         axios.get('http://bpc.org/api/miscfees')
          .then(function (response) {
            console.log(response.data);
            // vm.misc_fees = response.data;
                vm.misc_fees = response.data.miscfees;
                vm.total_amount =response.data.total_amount;
            console.log(vm.misc_fees);
          });
        },
        addMiscFee: function () {
              let vm = this;
              axios.post('http://bpc.org/api/miscfees', {
                level: vm.level,
                name: vm.name,
                amount: vm.amount,
            })
            .then(function (response) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('success: ' + response);
                vm.misc_fees = response.data.miscfees;
            })
            .catch(function (error) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editMiscFee: function (miscfee){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.misc_fee_id = miscfee.id,
          vm.level = miscfee.level,
          vm.name = miscfee.name,
          vm.amount = miscfee.amount
      },
        updateMiscFee: function () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(`http://bpc.org/api/miscfees/${vm.misc_fee_id }`, { 
                id: vm.misc_fee_id,
                level: vm.level,
                name: vm.name,
                amount: vm.amount
            })
            .then(function (response) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteMiscFee: function (id) {
              let vm = this;
              axios.delete(`http://bpc.org/api/miscfees/${id}`)
            .then(function (response) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear: function(){
         let vm = this;
        vm.level= '',
        vm.name= '',
        vm.amount= ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        },
      filterMiscFee: function () {
          let vm = this;
         axios.get(`http://bpc.org/miscfee/${vm.filter_level}`)
          .then(function (response) {
            console.log(response.data);
                vm.misc_fees = response.data.miscfees;
                vm.total_amount =response.data.total_amount;
          });
        },
        addAmount: function (amount) {
          let vm = this;
          vm.total_amount += amount;
        }


    }//method

  }
</script>
<style>
.btn {  
    width:120px; 
}
</style>

