<template>
<div id="tuitfee">
    <h3>Tuition Fees</h3>
     <div class="row">           
          <div class="col-lg-4">
              <label for="course">Course</label>
                <select id="course" class="form-control" v-model="course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="year">Year</label>
                <select id="year" class="form-control" v-model="year" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="semester">Semester</label>
                <select id="semester" class="form-control" v-model="semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 
 <div class="row mb-3">   
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="per_unit">Per Unit</label>
                    <input v-model="per_unit" required type="text" class="form-control" id="per_unit" placeholder="Per Unit">
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="form-group">
                    <label for="cash_installment">Cash/Installment</label>
                    <input v-model="cash_installment" required type="text" class="form-control" id="cash_installment" placeholder="Cash/Installment">
                </div>
            </div> -->
 </div> 
<button  v-bind:disabled="save"  v-on:click="addTuitFee" class="btn btn-primary" >Add</button>
<button  v-bind:disabled="update" id="updateMisc" v-on:click="updateTuitFee" class="btn btn-primary" >update</button>
<button v-on:click="clear" class="btn btn-info" >CLear</button>

     <br><br>    
      <button v-on:click="filterTuition()" class="btn btn-info" >Filter</button>
      <button v-on:click="fetchTuit_fees()" class="btn btn-info" >All</button>
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_tuition_course">Course</label>
                <select id="filter_tuition_course" class="form-control" v-model="filter_tuition_course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CSS">CSS</option>
                  <option value="CS">CS</option>
                  <option value="EIM">EIM</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="filter_tuition_year">Year</label>
                <select id="filter_tuition_year" class="form-control" v-model="filter_tuition_year" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="filter_tuition_semester">Semester</label>
                <select id="filter_tuition_semester" class="form-control" v-model="filter_tuition_semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 


    <table class="table table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Course</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Per Unit</th>
        <!-- <th>Cash/Installment</th> -->
        <th></th>
        <th></th>
      </tr>
      <tr v-for="tuit_fee in tuit_fees" v-bind:key="tuit_fee.id">
        <!-- <td>{{ tuit_fee.id }}</td> -->
        <td>{{ tuit_fee.course }}</td>
        <td>{{ tuit_fee.year }}</td>
        <td>{{ tuit_fee.semester }}</td>
        <td>{{ tuit_fee.per_unit }}</td>
        <!-- <td>{{ tuit_fee.cash_installment }}</td> -->
        <td><button v-on:click="editTuitFee(tuit_fee)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteTuitFee(tuit_fee.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>  

</div>
</template>

<script>
 
  export default {  
    name: 'tuitfee',
    data: function() {
        return {
          update: true,
          save: false,
          isButtonDisabled: null,
      filter_tuition_course: '',
      filter_tuition_year: '',
      filter_tuition_semester: '',

            tuit_fees: [],
            tuit_fee_id: '',
            tuit_fee: '',
            course: '',
            year: '',
            semester: '',
            per_unit: '',
            cash_installment: 'cash'
        }
      }
    ,
    
    created() {
      this.fetchTuit_fees();
    },  
    mounted() {
      
    },

    methods: { 
        fetchTuit_fees: function () {
          let vm = this;
         axios.get('http://bpc.org/api/tuitfees')
          .then(function (response) {
            console.log(response.data);
            vm.tuit_fees = response.data;
            console.log(vm.misc_fees);
          });
        },
        addTuitFee: function () {
              let vm = this;
              axios.post('http://bpc.org/api/tuitfees', {
                course: vm.course,
                year: vm.year,
                semester: vm.semester,
                per_unit: vm.per_unit,
                cash_installment: vm.cash_installment,
            })
            .then(function (response) {
             vm.fetchTuit_fees();
             vm.clear();
              console.log('success: ' + response);
              vm.misc_fees = response.data;
            })
            .catch(function (error) {
             vm.fetchTuit_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editTuitFee: function (tuit_fee){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.tuit_fee_id = tuit_fee.id,
          vm.course = tuit_fee.course,
          vm.year = tuit_fee.year,
          vm.semester = tuit_fee.semester,
          vm.per_unit = tuit_fee.per_unit,
          vm.cash_installment = tuit_fee.cash_installment
      },
        updateTuitFee: function () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(`http://bpc.org/api/tuitfees/${vm.tuit_fee_id }`, {                 
                id: vm.tuit_fee_id,               
                course: vm.course,
                year: vm.year,
                semester: vm.semester,
                per_unit: vm.per_unit,
                cash_installment: vm.cash_installment
            })
            .then(function (response) {
             vm.fetchTuit_fees();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchTuit_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteTuitFee: function (id) {
              let vm = this;
              axios.delete(`http://bpc.org/api/tuitfees/${id}`)
            .then(function (response) {
             vm.fetchTuit_fees();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchMisc_fees();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear: function(){
         let vm = this;
        vm.course= '',
        vm.year= '',
        vm.semester= '',
        vm.per_unit= '',
        vm.cash_installment= ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        },
      filterTuition: function () {
          let vm = this;
         axios.get(`http://bpc.org/tuitfees/${vm.filter_tuition_course}/${vm.filter_tuition_year}/${vm.filter_tuition_semester}`)
          .then(function (response) {
            console.log(response.data);
            vm.tuit_fees = response.data;
          });
        }


    } //methods

  }
</script>

<style>
.btn {  
    width:120px; 
}
</style>