<template>
<div id="app">
    <!-- Getting My Section -->
        <tr v-for="my in my_student_info" v-bind:key="my.id">
            <!-- <td>{{ total_student }}</td> -->
            <td>{{ my.course != '' ? saveCourse( my.course) : 'No Course' }}</td>
            <td>{{ my.year != '' ? saveYear( my.year) : 'No Year' }}</td>
            <td>{{ my.section != null ? saveCurrentSection( my.section) : noSection() }}</td>
        </tr>

    <!-- end Getting My Section -->
   <div class="row justify-content-center">
        <div class="col-md-10 mt-2">
            <div class="card">
                <div class="card-header">Filter By Course & Year $ Section</div>

                <div class="card-body">
                   <div class="row">           
                      <div class="col-lg-4">
                          <label for="filter_subject_course">Course</label>
                            <select id="filter_subject_course" class="form-control" v-model="filter_subject_course" required>
                              <option value="BSIS">BSIS</option>
                              <option value="BSOM">BSOM</option>
                              <option value="BTVTED">BTVTED</option>
                              <option value="BSAIS">BSAIS</option>
                              <option value="ACT">ACT</option>
                              <option value="HRS">HRS</option>
                              <option value="CSS">CSS</option>
                              <option value="CS">CS</option>
                              <option value="EIM">EIM</option>
                            </select>
                        </div>
                        <div class="col-lg-2">          
                            <label for="filter_subject_year">Year</label>
                            <select id="filter_subject_year" class="form-control" v-model="filter_subject_year" required>
                              <option value="1">1st</option>
                              <option value="2">2nd</option>
                              <option value="3">3rd</option>
                              <option value="4">4th</option>
                            </select>
                        </div>
                        <div class="col-lg-2">          
                            <label for="filter_subject_section">section</label>
                            <select id="filter_subject_section" class="form-control" v-model="filter_subject_section" required>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              <option value="D">D</option>
                            </select>
                        </div>  
                        <div class="col-lg-3">      
                          <br>    
                            <button v-on:click="getBatch()" class="btn btn-info" >Search</button>
                        </div>    
                        </div>    
                </div>
            </div>
        </div>
    </div>  <!-- end -->

    <center>
       <h1>Bulacan Polytechnic College</h1>
       <h3>{{sys.semester == 1? sys.semester+'st' : sys.semester+'2nd'}} Semester School Year {{start_year = sys.start_year}} - {{end_year = sys.end_year}}</h3>
    
    
    <h4>Course: {{filter_subject_course}} Year: {{filter_subject_year}} Section: {{filter_subject_section}}</h4>
    <!-- <button v-on:click="passData()" class="btn btn-info" >Download Pdf</button> -->
    <table class="table centered">
        <tr>
            <th>Fullname</th>
            <th>Address</th>
        </tr>  
        
        <tr v-for="student in students" v-bind:key="student.id">
            
            <!-- <td>{{ fetchNumber() }}</td> -->
            <td>{{ student.last_name + ', '+ student.first_name +' '+ student.initial + '.'}}</td>
            <td>{{ student.street + ' '+ student.barangay +' '+ student.city + ' '+ student.province +' '+ student.zipcode + ' '}}</td>
            <!-- <td>{{ student.my_year}}</td> -->
        </tr>
        <tr><td>{{no_students == true ? 'No Students Enrolled in This Section' : ''}}</td></tr>
    </table>
</center>
</div> <!-- Div #App -->
</template>

<script>
  
  export default {  
    name: 'app',
    props: ['auth_user'],
    data: function() {
        return { 
       app_url: 'http://localhost:14',
            current_user: this.auth_user,
            user_id: '',
            my_student_info:'',
            filter_subject_course:'',
            filter_subject_year:'',
            filter_subject_section: 'No Section',
            students:'',
            no_students: false,
            filter_section: '',

            total_student: 1,
            application_date:'',
          isButtonDisabled: null,
          update: true,
          
            sy: '',
            sys: [],
           semester: 1,
           start_year: 2018,
           end_year: 2019,
           new_semester: 1,
           new_start_year: 2018,
           new_end_year: 2019,


        }
      }
    ,
    
    created() {
        this.fetchSYS();
    },  
    mounted() {
        let vm = this;
    },

    methods: { 

        getBatch: function(){
          let vm = this;
        //   console.log("my_course " + vm.my_course);
        //   console.log("my_year " +  vm.my_year);
        //   console.log("filter_section " +  vm.filter_section);
           axios.get( app_url + `/getbatch/${vm.filter_subject_course}/${vm.filter_subject_year}/${vm.filter_subject_section}`)
            .then(function (response) {
              vm.students = response.data;
              if(response.data == null){
                vm.no_students = true;
              }else if(response.data == ''){
                vm.no_students = true;
              }else if(response.data == '[]'){
                vm.no_students = true;
              }else{
                  vm.no_students = false;
              }
               vm.total_student=0;
             console.log(vm.sections);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        },
      fetchSYS () {
          let vm = this;
         axios.get( app_url + '/api/sys')
          .then(function (response) {
            vm.sys = response.data;
          });
        },
      passData () {
          let vm = this;
         
           axios.post( app_url + `/admin/download-section`,{
                section: vm.students,
           })
            .then(function (response) {
              // vm.my_current_section = response.data.section;
             console.log(vm.response.data);
            })
             .catch(function (error) {
             console.log('Error: ' + error);
            });
        }

    }//methods

  }
</script>
