<template>
<div id="sys" class="p-5">
    <center>
     
       <h1>Bulacan Polytechnic College</h1>
       <h3>{{semester = sys.semester}} Semester School Year {{start_year = sys.start_year}} - {{end_year = sys.end_year}}</h3>
    
    
     </center>
          <div class="row mb-3">           
          <div class="col-lg-4">
              <label for="new_semester">Semester</label>
                <select id="new_semester" class="form-control" v-model="new_semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="new_start_year">School Year</label>
                <select id="new_start_year" class="form-control" v-model="new_start_year" required>
                  <option value="2018">2018-2019</option>
                  <option value="2019">2019-2020</option>
                  <option value="2020">2020-2021</option>
                  <option value="2021">2021-2022</option>
                  <option value="2022">2022-2023</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <!-- <label for="end_year">End Year</label>
                <select id="end_year" class="form-control" v-model="end_year" required>                  
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                </select> --> 
        <button id="updateSYS" v-on:click="updateSYS" class="btn btn-primary" >update</button>
        <button id="Clear" v-on:click="clear" class="btn btn-info" >CLear</button>
     

                </div>
          </div>
</div>
</template>

<script>
 
  export default {  
    name: 'sys',
    data: function() {
        return { 
       app_url: 'http://localhost:14',
            sy: '',
            sys: [],
           semester: 1,
           start_year: 2018,
           end_year: 2019,
           new_semester: 1,
           new_start_year: 2018,
           new_end_year: 2019
        }
      }
    ,
    
    created() {
      this.fetchSYS();
    },
    mounted() {
      
    },

    methods: { 
    clear(){
         let vm = this;
        vm.new_semester= 1,
        vm.new_start_year= 2018
      },
      fetchSYS () {
          let vm = this;
         axios.get( app_url + '/api/sys')
          .then(function (response) {
            console.log(response.data);
            vm.sys = response.data;
            // vm.semester = vm.sys.semester;
            // vm.start_year = vm.sys.start_year;
            // console.log(semester);
            // console.log(start_year);
          });
        },
        updateSYS () {
              let vm = this;
              let new_start = parseInt(vm.new_start_year);
              let new_end = 0;
              if( new_start == 2018){
                new_end = 2019;
              }else if (new_start == 2019) {
                new_end = 2020;
              }else if (new_start == 2020) {
                new_end = 2021;
              }else if (new_start == 2021) {
                new_end = 2022;
              }else if (new_start == 2022) {
                new_end = 2023;
              } else {
                new_start = 2024;
                new_end = 2025;
              }

              if(new_start > vm.start_year){
                axios.patch( app_url + `/api/sys/1`, {           
                        start_year: new_start,
                        end_year: new_end,
                        semester: vm.new_semester,
                    })
                    .then(function (response) {
                    vm.fetchSYS();
                    vm.clear();
                    console.log('updated: ' + response);
                    console.log('start_year: ' + vm.start_year);
                    })
                    .catch(function (error) {
                    vm.fetchSYS();
                    vm.clear();
                      console.log('Error: ' + error);
                    });
              }else if (new_start == vm.start_year) {
                if(vm.new_semester > vm.semester){
                 axios.patch( app_url + `/api/sys/1`, {           
                        start_year: new_start,
                        end_year: new_end,
                        semester: vm.new_semester,
                    })
                    .then(function (response) {
                    vm.fetchSYS();
                    vm.clear();
                    console.log('updated: ' + response);
                    console.log('start_year: ' + vm.start_year);
                    })
                    .catch(function (error) {
                    vm.fetchSYS();
                    vm.clear();
                      console.log('Error: ' + error);
                    });
                }else{
                  alert('Invalid Semester');
                }
                }
              else{
                alert('Invalid School Year');
              }

                  
           
        }
    }//methods

  }
</script>
