<template>
<div id="tuitfee">
    <h3>Verify Student Portal</h3>
    
    <table class="table table-hoverable">
      <tr>
        <!-- <th>#</th> -->
        <th>Name</th>
        <th>Email</th>
        <th>Date Registered</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="user in users" v-bind:key="user.id">
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
        <td><button v-on:click="updateUser(user.id)" class="btn btn-primary" >Verify</button></td>      
        <td><button v-on:click="deleteUser(user.id)" class="btn btn-danger" >Archieve</button></td>      
      </tr>
    </table>  

</div>
</template>

<script>
 
  export default {  
    name: 'tuitfee',
    data: function() {
        return {
          update: true,
          save: false,
          isButtonDisabled: null,
      filter_tuition_course: '',
      filter_tuition_year: '',
      filter_tuition_semester: '',

            users: '',
            user_id: ''
        }
      }
    ,
    
    created() {
      // this.moment();
      this.fetchUsers();
    },  
    mounted() {
      
    },

    methods: { 
  moment: function (date) {
    return moment(date);
  },
        fetchUsers: function () {
          let vm = this;
         axios.get('http://bpc.org/api/verify-users')
          .then(function (response) {
            console.log(response.data);
            vm.users = response.data;
          })
           .catch(function (error) {
             vm.fetchUsers();
             vm.clear();
              console.log('Error: ' + error);
            });;
        },
        updateUser: function (id) {
              let vm = this;
              vm.user_id = id;
              console.log(vm.user_id);
              axios.get(`http://bpc.org/api/user-verified/${vm.user_id}`, {                 
                id: vm.user_id
            })
            .then(function (response) {
             vm.fetchUsers();
            })
            .catch(function (error) {
             vm.fetchUsers();
              console.log('Error: ' + error);
            });
        },
        deleteUser: function (id) {
              let vm = this;
              vm.user_id = id;
              axios.get(`http://bpc.org/api/user-archive/${vm.user_id}`)
            .then(function (response) {
             vm.fetchUsers();
            })
            .catch(function (error) {
             vm.fetchUsers();
              console.log('Error: ' + error);
            });
        }

    } //methods

  }
</script>
