<template>
 
<div id="app">
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="item_name">Item Name</label>
                <input v-model="item_name" required type="text" class="form-control" id="item_name" placeholder="Item Name">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="brand_name">Brand Name</label>
                <input v-model="brand_name" required type="text" class="form-control" id="brand_name" placeholder="Brand Name">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-2">
              <div class="form-group">
                <label for="qty">Quantity</label>
                <input v-model="qty" required type="text" class="form-control" id="qty" placeholder="Quantity">
              </div>
            </div>
            <div class="col-lg-4">   
              <div class="form-group">
                <label for="status">Status</label>
                <input v-model="status" required type="text" class="form-control" id="status" placeholder="Status">
              </div>
            </div>
            <div class="col-lg-5">   
              <div class="form-group">
                <label for="description">Description</label>
                <input v-model="description" required type="text" class="form-control" id="description" placeholder="Description">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="last_location">Last Location</label>
                <input v-model="last_location" required type="text" class="form-control" id="last_location" placeholder="Last Location">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="new_location">New Location</label>
                <input v-model="new_location" required type="text" class="form-control" id="new_location" placeholder="New Location">
              </div>
            </div>
          </div>  <!-- ROW -->
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchInventory" class="btn btn-success" >Get</button> -->
        <button id="addItem"  v-bind:disabled="save"  v-on:click="addItem" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Item</button><br>
        <button id="updateItem" v-bind:disabled="update"  v-on:click="updateItem" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      <button v-on:click="filter_item()" class="btn btn-info" >Filter</button>
         
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="item_name">Item Name</label>
                <input v-model="filter_item_name" required type="text" class="form-control" id="item_name" placeholder="Item Name">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="brand_name">Brand Name</label>
                <input v-model="filter_brand_name" required type="text" class="form-control" id="brand_name" placeholder="Brand Name">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">  
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="status">Status</label>
                <input v-model="filter_status" required type="text" class="form-control" id="status" placeholder="Status">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="description">Description</label>
                <input v-model="filter_description" required type="text" class="form-control" id="description" placeholder="Description">
              </div>
            </div>
          </div>  <!-- ROW -->
          <div class="row">           
            <div class="col-lg-6">
              <div class="form-group">
                <label for="last_location">Last Location</label>
                <input v-model="filter_last_location" required type="text" class="form-control" id="last_location" placeholder="Last Location">
              </div>
            </div>
            <div class="col-lg-6">   
              <div class="form-group">
                <label for="new_location">New Location</label>
                <input v-model="filter_new_location" required type="text" class="form-control" id="new_location" placeholder="New Location">
              </div>
            </div>
          </div>  <!-- ROW -->
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Item Name</th>
        <th>Brand Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Description</th>
        <th>Last Location</th>
        <th>New Location</th>
        <th>Date Added</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="item in items" v-bind:key="item.id">
        <!-- <td>{{ item.id }}</td> -->
        <td>{{ item.item_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.last_location }}</td>
        <td>{{ item.new_location }}</td>
        <td>{{ item.created_at }}</td>
        <td><button v-on:click="editItem(item)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteItem(item.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>
  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       
       update: true,
       save: false,
          isButtonDisabled: null,
       alerts: '',
      filter_item_name: '',
      filter_brand_name: '',
      filter_status: '',
      filter_description: '',
      filter_last_location: '',
      filter_new_location: '',


      items: '',
      item_id: '',
      item_name: '',
      brand_name: '',
      qty: '',
      status: '',
      description: '',
      last_location: '',
      new_location: '',
      date_added: ''
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchInventory();
    },

    methods: { 
      fetchInventory () {
          let vm = this;
         axios.get('http://bpc.org/api/manage_inventory')
          .then(function (response) {
            console.log(response.data);
            vm.items = response.data;
          });
        },
      filter_item: function () {
          let vm = this;
         axios.get(`http://bpc.org/api/manage_inventory/${vm.filter_item_name}/${vm.filter_brand_name}/${vm.filter_status}/${vm.filter_description}/${vm.filter_last_location}/${vm.filter_new_location}`)
          .then(function (response) {
            console.log(response.data);
                        vm.items = response.data;
          });
        },
        addItem () {
              let vm = this;
              axios.post('http://bpc.org/api/manage_inventory', {
                item_name: vm.item_name,
                brand_name: vm.brand_name,
                qty: vm.qty,
                status: vm.status,
                description: vm.description,
                last_location: vm.last_location,
                new_location: vm.new_location
            })
            .then(function (response) {
             vm.fetchInventory();
             vm.clear();
              console.log('success: ' + response);
              vm.subjects = response.data;
            })
            .catch(function (error) {
             vm.fetchInventory();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editItem (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.item_id = item.id,
          vm.item_name = item.item_name,
          vm.brand_name = item.brand_name,
          vm.qty = item.qty,
          vm.status = item.status,
          vm.description = item.description,
          vm.last_location = item.last_location,
          vm.new_location = item.new_location
      },
        updateItem () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(`http://bpc.org/api/manage_inventory/${vm.item_id}`, {     
                item_name: vm.item_name,
                brand_name: vm.brand_name,
                qty: vm.qty,
                status: vm.status,
                description: vm.description,
                last_location: vm.last_location,
                new_location: vm.new_location
            })
            .then(function (response) {
             vm.fetchInventory();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchInventory();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteItem (id) {
              let vm = this;
              axios.delete(`http://bpc.org/api/manage_inventory/${id}`)
            .then(function (response) {
             vm.fetchInventory();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchInventory();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
        vm.item_name = '',
        vm.brand_name = '',
        vm.qty = '',
        vm.status = '',
        vm.description = '',
        vm.last_location = '',
        vm.new_location = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
