<template>
 
<div id="app">
    <div class="row">
      <div class="col-lg-9">
        <form action="">
          <div class="row">           
          <div class="col-lg-4">
              <label for="course">Course</label>
                <select id="course" class="form-control" v-model="course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CCS">CCS</option>
                  <option value="EIM">EIM</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="year">Year</label>
                <select id="year" class="form-control" v-model="year" required>
                                    
                    <option  value="1">1st</option>
                    <option  value="2">2nd</option>
                    <option v-show="twoyears()" value="3">3rd</option>
                    <option v-show="twoyears()" value="4">4th</option>
                
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="semester">Semester</label>
                <select id="semester" class="form-control" v-model="semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 
          <div class="row">           
            <div class="col-lg-4">
              <div class="form-group">
                <label for="code">Subject Code</label>
                <input v-model="code" required type="text" class="form-control" id="code" placeholder="Subject Code">
              </div>
            </div>
            <div class="col-lg-8">          
                <div class="form-group">
                  <label for="title">Subject Title</label>
                  <input v-model="title" required type="text" class="form-control" id="title" placeholder="Subject Title">
                </div>
            </div>
          </div> 
          <div class="row">           
            <div class="col-lg-4">
               <label for="units">Units</label>
               
                  <input v-model="units" required type="text" class="form-control" id="units" placeholder="Subject Description">
                <!-- <select id="units" class="form-control" v-model="units" required>
                  <option value="1">1</option>
                  <option value="1.5">1.5</option>                  
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select> -->
            </div>
            <div class="col-lg-8">          
                <div class="form-group">
                  <label for="description">Subject Description</label>
                  <input v-model="description" required type="text" class="form-control" id="description" placeholder="Subject Description">
                </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="prerequisite">Prerequisite</label>
            <input v-model="prerequisite" required type="text" class="form-control" id="prerequisite" placeholder="Prerequisite">        
          </div>  
        </form>       
      </div>
      <div class="col-lg-3"> 
        <!-- <button id="getSubjects" v-on:click="fetchSubjects" class="btn btn-success" >Get</button> -->
        <button id="AddSubjects"  v-bind:disabled="save"  v-on:click="addSubject" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Subject</button><br>
        <button id="updateSubject" v-bind:disabled="update"  v-on:click="updateSubject" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >Clear</button><br>
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->
      </div>
    </div>
          
              
      <button v-on:click="filterSubject()" class="btn btn-info" >Filter</button>
          <div class="row">           
          <div class="col-lg-4">
              <label for="filter_subject_course">Course</label>
                <select id="filter_subject_course" class="form-control" v-model="filter_subject_course" required>
                  <option value="BSIS">BSIS</option>
                  <option value="BSOM">BSOM</option>
                  <option value="BTVTED">BTVTED</option>
                  <option value="BSAIS">BSAIS</option>
                  <option value="ACT">ACT</option>
                  <option value="HRS">HRS</option>
                  <option value="CCS">CCS</option>
                  <option value="EIM">EIM</option>
                </select>
            </div>
            <div class="col-lg-4">          
                <label for="filter_subject_year">Year</label>
                <select id="filter_subject_year" class="form-control" v-model="filter_subject_year" required>       
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option v-show="twoyears()"  value="3">3rd</option>
                    <option v-show="twoyears()"  value="4">4th</option>
                </select>
            </div>          
                <div class="col-lg-4">
                <label for="filter_subject_semester">Semester</label>
                <select id="filter_subject_semester" class="form-control" v-model="filter_subject_semester" required>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                </select>
                </div>
          </div> 
    <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Course</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Subject Code</th>
        <th>Title</th>
        <th>Units</th>
        <th>Description</th>
        <th>Prerequisite</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="subject in subjects" v-bind:key="subject.id">
        <!-- <td>{{ subject.id }}</td> -->
        <td>{{ subject.course }}</td>
        <td>{{ subject.year }}</td>
        <td>{{ subject.semester }}</td>
        <td>{{ subject.code }}</td>
        <td>{{ subject.title }}</td>
        <td>{{ subject.units }}</td>
        <td>{{ subject.description }}</td>
        <td>{{ subject.prerequisite }}</td>
        <td><button v-on:click="editSubject(subject)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteSubject(subject.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>
</div>
  
</template>

<script>
  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       
       app_url: 'http://localhost:14',
       update: true,
       save: false,
          isButtonDisabled: null,
       alerts: '',
      filter_subject_course: '',
      filter_subject_year: '',
      filter_subject_semester: '',


      subjects: '',
      subject_id: '',
      course: '',
      year: '',
      semester: '',
      code: '',
      title: '',
      description: '',
      units: '',
      prerequisite: '',
      subject: {
        id: '',
        course: '',
        year: '',
        semester: '',
        code: '',
        title: '',
        description: '',
        units: '',
        prerequisite: ''
      }
      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchSubjects();
    },

    methods: { 
      twoyears(){
         let vm = this;
         let two = true;
         if(vm.course == 'HRS'){
           two = false;
         }else if(vm.course == 'CCS'){
           two = false;
         }else if(vm.course == 'EIM'){
           two = false;
         }else if(vm.course == 'ACT'){
           two = false;
         }
  
      console.log('two: ' +two);
         return two;
      },
      fetchSubjects () {
          let vm = this;
         axios.get(vm.app_url+'/api/subjects')
          .then(function (response) {
            console.log(response.data);
            vm.subjects = response.data;
          });
        },
      filterSubject: function () {
          let vm = this;
         axios.get(vm.app_url+`/subjects/${vm.filter_subject_course}/${vm.filter_subject_year}/${vm.filter_subject_semester}`)
          .then(function (response) {
            console.log(response.data);
                        vm.subjects = response.data.subjects;
          });
        },
        addSubject () {
              let vm = this;
              axios.post(vm.app_url+'/api/subjects', {
                course: vm.course,
                year: vm.year,
                semester: vm.semester,
                code: vm.code,
                title: vm.title,
                description: vm.description,
                units: vm.units,
                prerequisite: vm.prerequisite
            })
            .then(function (response) {
             vm.fetchSubjects();
             vm.clear();
              console.log('success: ' + response);
              vm.subjects = response.data;
            })
            .catch(function (error) {
             vm.fetchSubjects();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editSubject (subject){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.subject_id= subject.id,
          vm.course= subject.course,
          vm.year= subject.year,
          vm.semester= subject.semester,
          vm.code= subject.code,
          vm.title= subject.title,
          vm.description= subject.description,
          vm.units= subject.units,
          vm.prerequisite= subject.prerequisite
      },
        updateSubject () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(vm.app_url+`/api/subjects/${vm.subject_id}`, {              
                course: vm.course,
                year: vm.year,
                semester: vm.semester,
                code: vm.code,
                title: vm.title,
                description: vm.description,
                units: vm.units,
                prerequisite: vm.prerequisite
            })
            .then(function (response) {
             vm.fetchSubjects();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
             vm.fetchSubjects();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteSubject (id) {
              let vm = this;
              axios.delete(vm.app_url+`/api/subjects/${id}`)
            .then(function (response) {
             vm.fetchSubjects();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
             vm.fetchSubjects();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
       vm.course= '',
        vm.year= '',
        vm.semester= '',
        vm.code= '',
        vm.title= '',
        vm.description= '',
        vm.units= '',
        vm.prerequisite= ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        }

    }

  }
</script>
