<template>
<div id="app">
  
</div>
</template>

<script>
 
  export default {  
    name: 'app',
    data: function() {
        return { 
            name: ''
        }
      }
    ,
    
    created() {
      
    },  
    mounted() {
      
    },

    methods: { 

    }

  }
</script>
