<template>
 
<div id="app">

    <div  hidden="true" id="success" class="alert alert-success white">
      <a href="#"  v-on:click="hideMe('success')" class="btn close">&times;</a>
    <!-- <button v-on:click="hideMe('success')" type="button" class="close">&times;</button> -->
    <h4 class="alert-heading">Success!</h4>
    <p class="mb-0">Subject Loaded</p>
    </div>
    <div  hidden="true" id="warning" class="alert alert-warning white">
      <a href="#"  v-on:click="hideMe('warning')" class="btn close">&times;</a>
    <!-- <button v-on:click="hideMe('warning')" type="button" class="close">&times;</button> -->
    <h4 class="alert-heading">Oppps!</h4>
    <p class="mb-0">{{ error }}</p>
    </div>

<div class="row">
  <div class="col-lg-3">
 <div class="form-group">
    <label for="course">Course</label>
    <select v-model="course" class="form-control" id="course">
      <option  v-for="course in courses" v-bind:key="course.id">{{course.course_code}}</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">     
 <div class="form-group">       
                <label for="year">Year</label>
                <select id="year" class="form-control" v-model="year" required>
                                    
                    <option  value="1">1st</option>
                    <option  value="2">2nd</option>
                    <option v-show="twoyears()" value="3">3rd</option>
                    <option v-show="twoyears()" value="4">4th</option>
                
                </select>
            </div>  
  </div>
  <div class="col-lg-3">
 <div class="form-group">
    <label for="section">Section</label>
    <select v-model="section" class="form-control" id="section">
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">
 <div class="form-group">
    <label for="subject">Subject</label>
    <select v-model="subject" class="form-control" id="subject">
      <option  v-for="subject in subjects" v-bind:key="subject.id">{{subject.code}}-{{subject.title}}</option>
    </select>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
 <div class="form-group">
    <label for="instructor">Instructor</label>
    <select v-model="instructor" class="form-control" id="instructor">
      <option  v-for="instructor in instructors" v-bind:key="instructor.id">{{instructor.instructors_id}},{{instructor.name}}</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">
 <!-- <div class="form-group">
    <label for="room">Room</label>
    <select v-model="room" class="form-control" id="room">
      <option  v-for="room in rooms" v-bind:key="room.id">{{room.building}}-{{room.room_no}}-{{room.description}}</option>
    </select>
  </div> -->
  </div>
  <div class="col-lg-3">
  <div>
  <!-- <multiselect v-model="time" :options="times" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" label="name" track-by="name" :preselect-first="false">
    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="times.length &amp;&amp; !isOpen">{{ values.length }} Time selected</span></template>
  </multiselect> -->
  <!-- <pre class="language-json"><code>{{ time  }}</code></pre> -->
</div>
  </div>
  <div class="col-lg-3">
  <!-- <label for="color_value">Color</label> <br>
<input  name="color2" type="hidden" id="color_value" value="99cc00">
        <button class="btn jscolor {valueElement: 'color_value'}">Pick a color</button> -->
<!-- <span>Hex {{color}}</span> -->
  </div>
</div>


        <!-- <button class="btn btn-primary" v-on:click="checkSchedule" >Check Availability</button><br> -->

        <button id="addRoom"  v-bind:disabled="save"  v-on:click="addSubjectLoad" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Save</button><br>

        <button id="updateRoom" v-bind:disabled="update"  v-on:click="updateSubject_load" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>

        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >Clear</button><br>  


 <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>Instructor ID</th>
        <th>Name</th>
        <th>Subject Code</th>
        <th>Subject Title</th>
        <th>CYS</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="subject_load in subject_loads" v-bind:key="subject_load.id">
        <!-- <td>{{ subject_load.id }}</td> -->
        <!-- <td>{{subject_load.id }}</td> -->
        <td>{{ subject_load.instructor_id }}</td>
        <td>{{ subject_load.instructor_name }}</td>
        <td>{{ subject_load.code }}</td>
        <td>{{ subject_load.title }}</td>
        <td>{{ subject_load.cys }}</td>
        <td><button v-on:click="editsubject_load(subject_load)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deletesubject_load(subject_load.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>


        <!-- <button id="getSubjects" v-on:click="fetchRooms" class="btn btn-success" >Get</button> -->
        <!-- <button id="addRoom"  v-bind:disabled="save"  v-on:click="addRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Room</button><br>
        <button id="updateRoom" v-bind:disabled="update"  v-on:click="updateRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br> -->
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->        
    
</div>
  
</template>

<script>

  $('.alert').alert();
  export default {  
      name: 'app',
    data: function() {
     return { 
       
      app_url: 'http://localhost:14',
      value: '',
    
       error: '',
       update: true,
       save: false,
          isButtonDisabled: null,


      courses: '',
      subject_loads: '',
      course: '',
      year: '',
      section: '',

      sections: '',
      rooms: '',
      instructors: '',
      instructor_id: '',
      subject_loads: '',
      subjects: '',
      subject: '',
      subject_id: '',
      room: '',
      instructor: '',
      schedule: '',
      time: '',
      day: [],
      color: '99cc00',
      school_year: '',
      semester: '',
      id: ''

      }
    },
    
    created() {
      if(this.update === false){
      }
      console.log('start');
      this.fetchCourses();
      this.fetchSubjectLoads();
      // this.fetchRooms();
      this.fetchInstructors();
      this.fetchSubjects();
            // this.fetchSubjectLoads();
    },

    methods: { 
      fetchSubjectLoads () {
          let vm = this;
         axios.get(vm.app_url + '/api/subject_loads')
          .then(function (response) {
            console.log(response.data);
            vm.subject_loads = response.data;
          });
        },
      fetchCourses () {
          let vm = this;
         axios.get(vm.app_url + '/api/course')
          .then(function (response) {
            console.log(response.data);
            vm.courses = response.data;
          });
        },
      fetchSubjects () {
          let vm = this;
         axios.get(vm.app_url + '/api/subjects')
          .then(function (response) {
            console.log(response.data);
            vm.subjects = response.data;
          });
        },
      fetchInstructors () {
          let vm = this;
         axios.get(vm.app_url + '/api/instructors')
          .then(function (response) {
            console.log(response.data);
             vm.instructors = response.data;
          });
        },
        addSubjectLoad() {
              let vm = this;
              axios.post(vm.app_url + '/api/subject_loads', {
                course: vm.course,
                year: vm.year,
                section: vm.section,
                subject: vm.subject,
                instructor: vm.instructor,
                subject_id: vm.subject_id
            })
            .then(function (response) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('success: ' + response);
              if(response.data == "TRUE"){
                $('#success').removeAttr("hidden");
              }else{
                vm.error = response.data;
                $('#warning').removeAttr("hidden");
              }
              console.log(response.data);
            })
            .catch(function (error) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editsubject_load(item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.course  = item.course ;
          vm.year = item.year;
          vm.section = item.section;
          vm.subject = item.subject;
          vm.instructor = item.instructor;
      },
        updateSubject_load() {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(vm.app_url + `/api/subject_loads/${vm.id}`, {
                course: vm.course,
                year: vm.year,
                section: vm.section,
                subject: vm.subject,
                instructor: vm.instructor
            })
            .then(function (response) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deletesubject_load(id) {
              let vm = this;
              axios.delete(vm.app_url + `/api/subject_loads/${id}`)
            .then(function (response) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
            
            vm.fetchSubjectLoads();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.save = false;
          vm.update = true;
          vm.course = '',
          vm.year = '',
          vm.subject = '',
          vm.section = '',
          vm.instructor = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        },
        hideMe: function($id){
              $('#'+$id).attr("hidden", true);
        },
      twoyears(){
         let vm = this;
         let two = true;
         if(vm.course == 'HRS'){
           two = false;
         }else if(vm.course == 'CCS'){
           two = false;
         }else if(vm.course == 'EIM'){
           two = false;
         }else if(vm.course == 'ACT'){
           two = false;
         }
  
      // console.log('two: ' +two);
         return two;
      }

    }

  }
</script>

<style>
.table td {
   text-align: center;   
}
</style>
