<template>
 
<div id="app">

    <div  hidden="true" id="success" class="alert alert-success white">
      <a href="#"  v-on:click="hideMe('success')" class="btn close">&times;</a>
    <!-- <button v-on:click="hideMe('success')" type="button" class="close">&times;</button> -->
    <h4 class="alert-heading">Success!</h4>
    <p class="mb-0">This Schedule is Available</p>
    </div>
    <div  hidden="true" id="warning" class="alert alert-warning white">
      <a href="#"  v-on:click="hideMe('warning')" class="btn close">&times;</a>
    <!-- <button v-on:click="hideMe('warning')" type="button" class="close">&times;</button> -->
    <h4 class="alert-heading">Oppps!</h4>
    <p class="mb-0">{{ error }}</p>
    </div>

<div class="row">
  <div class="col-lg-3">
 <div class="form-group">
    <label for="course">Course</label>
    <select v-model="course" class="form-control" id="course">
      <option  v-for="course in courses" v-bind:key="course.id">{{course.course_code}}</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">     
 <div class="form-group">       
                <label for="year">Year</label>
                <select id="year" class="form-control" v-model="year" required>
                                    
                    <option  value="1">1st</option>
                    <option  value="2">2nd</option>
                    <option v-show="twoyears()" value="3">3rd</option>
                    <option v-show="twoyears()" value="4">4th</option>
                
                </select>
            </div>  
  </div>
  <div class="col-lg-3">
 <div class="form-group">
    <label for="section">Section</label>
    <select v-model="section" class="form-control" id="section">
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">
 <div class="form-group">
    <label for="subject">Subject</label>
    <select v-model="subject" class="form-control" id="subject">
      <option  v-for="subject in subjects" v-bind:key="subject.id">{{subject.code}}-{{subject.title}}</option>
    </select>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
 <div class="form-group">
    <label for="instructor">Instructor</label>
    <select v-model="instructor" class="form-control" id="instructor">
      <option  v-for="instructor in instructors" v-bind:key="instructor.id">{{instructor.instructors_id}},{{instructor.name}}</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">
 <div class="form-group">
    <label for="room">Room</label>
    <select v-model="room" class="form-control" id="room">
      <option  v-for="room in rooms" v-bind:key="room.id">{{room.building}}-{{room.room_no}}-{{room.description}}</option>
    </select>
  </div>
  </div>
  <div class="col-lg-3">
  <div>
  <label class="typo__label">Time/s</label>
  <multiselect v-model="time" :options="times" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" label="name" track-by="name" :preselect-first="false">
    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="times.length &amp;&amp; !isOpen">{{ values.length }} Time selected</span></template>
  </multiselect>
  <!-- <pre class="language-json"><code>{{ time  }}</code></pre> -->
</div>
  </div>
  <div class="col-lg-3">
  <label for="color_value">Color</label> <br>
<input  name="color2" type="hidden" id="color_value" value="99cc00">
        <button class="btn jscolor {valueElement: 'color_value'}">Pick a color</button>
<!-- <span>Hex {{color}}</span> -->
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="monday">
  <label class="form-check-label" for="inlineCheckbox1">Monday</label>
</div>
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tuesday">
  <label class="form-check-label" for="inlineCheckbox2">Tuesday</label>
</div>
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="wednesday">
  <label class="form-check-label" for="inlineCheckbox3">Wednesday</label>
</div>
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox4" value="thursday">
  <label class="form-check-label" for="inlineCheckbox4">Thursday</label>
</div>
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox5" value="friday">
  <label class="form-check-label" for="inlineCheckbox5">Friday</label>
</div>
<div class="form-check form-check-inline">
  <input v-model="day" class="form-check-input" type="checkbox" id="inlineCheckbox6" value="saturday">
  <label class="form-check-label" for="inlineCheckbox6">Saturday</label>
</div>
  </div>
</div>


        <button class="btn btn-primary" v-on:click="checkSchedule" >Check Availability</button><br>

        <button id="addRoom"  v-bind:disabled="save"  v-on:click="addSchedule" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Save Schedule</button><br>

        <button id="updateRoom" v-bind:disabled="update"  v-on:click="updateSchedule" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>

        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >Clear</button><br>  


 <table class="table table-striped table-hover table-responsive ">
      <tr>
        <!-- <th>#</th> -->
        <th>CYS</th>
        <th>Subject Code</th>
        <th>Subject Title</th>
        <th>Instructor ID</th>
        <th>Instructor Name</th>
        <th>Building</th>
        <th>Room #</th>
        <th>Room Description</th>
        <th>Time/s</th>
        <th>Day/s</th>
        <th></th>
        <th></th>
      </tr>
      <tr v-for="schedule in schedules" v-bind:key="schedule.id">
        <!-- <td>{{ schedule.id }}</td> -->
        <td>{{ schedule.course }} {{ schedule.year }}{{ schedule.section }}</td>
        <td>{{ schedule.subject_code }}</td>
        <td>{{ schedule.subject_description }}</td>
        <td>{{ schedule.instructor_id }}</td>
        <td>{{ schedule.instructor_name }}</td>
        <td>{{ schedule.room_building }}</td>
        <td>{{ schedule.room_no }}</td>
        <td>{{ schedule.room_description }}</td>
        <td>{{ schedule.time }}</td>
        <td>{{ schedule.day }}</td>
        <td><button v-on:click="editSchedule(schedule)" class="btn btn-warning" >Edit</button></td>      
        <td><button v-on:click="deleteSchedule(schedule.id)" class="btn btn-danger" >Archive</button></td>
      </tr>
    </table>


    <div class="row">
      <div class="col-lg-2">
        <form v-on:submit.prevent action="">
  <!-- <span>Room: {{room}}</span> -->


  <!-- <span>Room: {{room}}</span> -->

  
  <!-- <span>Instructor: {{instructor}}</span> -->
  
  <!-- <span>Instructor: {{instructor}}</span> -->



<!-- <span>Day/s {{day}}</span> -->



        </form>       
      </div>
      <div class="col-lg-10"> 
      
<!-- <table class="table  table-bordered">
    <thead>
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>7:00 AM</td>
        <td id="700am-monday"></td>
        <td id="700am-tuesday"></td>
        <td id="700am-wednesday"></td>
        <td id="700am-thursday"></td>
        <td id="700am-friday"></td>
        <td id="700am-saturday"></td>
    </tr>
    <tr>
        <td>7:30 AM</td>
        <td id="730am-monday"></td>
        <td id="730am-tuesday"></td>
        <td id="730am-wednesday"></td>
        <td id="730am-thursday"></td>
        <td id="730am-friday"></td>
        <td id="730am-saturday"></td>
    </tr>
    <tr>
        <td>8:00 AM</td>
        <td id="800am-monday"></td>
        <td id="800am-tuesday"></td>
        <td id="800am-wednesday"></td>
        <td id="800am-thursday"></td>
        <td id="800am-friday"></td>
        <td id="800am-saturday"></td>
    </tr>
    <tr>
        <td>8:30 AM</td>
        <td id="830am-monday"></td>
        <td id="830am-tuesday"></td>
        <td id="830am-wednesday"></td>
        <td id="830am-thursday"></td>
        <td id="830am-friday"></td>
        <td id="830am-saturday"></td>
    </tr>
    <tr>
        <td>9:00 AM</td>
        <td id="900am-monday"></td>
        <td id="900am-tuesday"></td>
        <td id="900am-wednesday"></td>
        <td id="900am-thursday"></td>
        <td id="900am-friday"></td>
        <td id="900am-saturday"></td>
    </tr>
    <tr>
        <td>9:30 AM</td>
        <td id="930am-monday"></td>
        <td id="930am-tuesday"></td>
        <td id="930am-wednesday"></td>
        <td id="930am-thursday"></td>
        <td id="930am-friday"></td>
        <td id="930am-saturday"></td>
    </tr>
    <tr>
        <td>10:00 AM</td>
        <td id="1000am-monday"></td>
        <td id="1000am-tuesday"></td>
        <td id="1000am-wednesday"></td>
        <td id="1000am-thursday"></td>
        <td id="1000am-friday"></td>
        <td id="1000am-saturday"></td>
    </tr>
    <tr>
        <td>10:30 AM</td>
        <td id="1030am-monday"></td>
        <td id="1030am-tuesday"></td>
        <td id="1030am-wednesday"></td>
        <td id="1030am-thursday"></td>
        <td id="1030am-friday"></td>
        <td id="1030am-saturday"></td>
    </tr>
    <tr>
        <td>11:00 AM</td>
        <td id="1100am-monday"></td>
        <td id="1100am-tuesday"></td>
        <td id="1100am-wednesday"></td>
        <td id="1100am-thursday"></td>
        <td id="1100am-friday"></td>
        <td id="1100am-saturday"></td>
    </tr>
    <tr>
        <td>11:30 AM</td>
        <td id="1130am-monday"></td>
        <td id="1130am-tuesday"></td>
        <td id="1130am-wednesday"></td>
        <td id="1130am-thursday"></td>
        <td id="1130am-friday"></td>
        <td id="1130am-saturday"></td>
    </tr>
    <tr>
        <td>12:00 PM</td>
        <td id="1200-monday"></td>
        <td id="1200-tuesday"></td>
        <td id="1200-wednesday"></td>
        <td id="1200-thursday"></td>
        <td id="1200-friday"></td>
        <td id="1200-saturday"></td>
    </tr>
    <tr>
        <td>1:00 PM</td>
        <td id="100-monday"></td>
        <td id="100-tuesday"></td>
        <td id="100-wednesday"></td>
        <td id="100-thursday"></td>
        <td id="100-friday"></td>
        <td id="100-saturday"></td>
    </tr>
    <tr>
        <td>1:30 PM</td>
        <td id="130-monday"></td>
        <td id="130-tuesday"></td>
        <td id="130-wednesday"></td>
        <td id="130-thursday"></td>
        <td id="130-friday"></td>
        <td id="130-saturday"></td>
    </tr>
    <tr>
        <td>2:00 PM</td>
        <td id="200-monday"></td>
        <td id="200-tuesday"></td>
        <td id="200-wednesday"></td>
        <td id="200-thursday"></td>
        <td id="200-friday"></td>
        <td id="200-saturday"></td>
    </tr>
    <tr>
        <td>2:30 PM</td>
        <td id="230-monday"></td>
        <td id="230-tuesday"></td>
        <td id="230-wednesday"></td>
        <td id="230-thursday"></td>
        <td id="230-friday"></td>
        <td id="230-saturday"></td>
    </tr>
    <tr>
        <td>3:00 PM</td>
        <td id="300-monday"></td>
        <td id="300-tuesday"></td>
        <td id="300-wednesday"></td>
        <td id="300-thursday"></td>
        <td id="300-friday"></td>
        <td id="300-saturday"></td>
    </tr>
    <tr>
        <td>3:30 PM</td>
        <td id="330-monday"></td>
        <td id="330-tuesday"></td>
        <td id="330-wednesday"></td>
        <td id="330-thursday"></td>
        <td id="330-friday"></td>
        <td id="330-saturday"></td>
    </tr>
    <tr>
        <td>4:00 PM</td>
        <td id="400-monday"></td>
        <td id="400-tuesday"></td>
        <td id="400-wednesday"></td>
        <td id="400-thursday"></td>
        <td id="400-friday"></td>
        <td id="400-saturday"></td>
    </tr>
    <tr>
        <td>4:30 PM</td>
        <td id="430-monday"></td>
        <td id="430-tuesday"></td>
        <td id="430-wednesday"></td>
        <td id="430-thursday"></td>
        <td id="430-friday"></td>
        <td id="430-saturday"></td>
    </tr>
    <tr>
        <td>5:00 PM</td>
        <td id="500-monday"></td>
        <td id="500-tuesday"></td>
        <td id="500-wednesday"></td>
        <td id="500-thursday"></td>
        <td id="500-friday"></td>
        <td id="500-saturday"></td>
    </tr>
    <tr>
        <td>5:30 PM</td>
        <td id="530-monday"></td>
        <td id="530-tuesday"></td>
        <td id="530-wednesday"></td>
        <td id="530-thursday"></td>
        <td id="530-friday"></td>
        <td id="530-saturday"></td>
    </tr>
    <tr>
        <td>6:00 PM</td>
        <td id="600-monday"></td>
        <td id="600-tuesday"></td>
        <td id="600-wednesday"></td>
        <td id="600-thursday"></td>
        <td id="600-friday"></td>
        <td id="600-saturday"></td>
    </tr>
    <tr>
        <td>6:30 PM</td>
        <td id="630-monday"></td>
        <td id="630-tuesday"></td>
        <td id="630-wednesday"></td>
        <td id="630-thursday"></td>
        <td id="630-friday"></td>
        <td id="630-saturday"></td>
    </tr>
    <tr>
        <td>7:00 PM</td>
        <td id="700-monday"></td>
        <td id="700-tuesday"></td>
        <td id="700-wednesday"></td>
        <td id="700-thursday"></td>
        <td id="700-friday"></td>
        <td id="700-saturday"></td>
    </tr>
    <tr>
        <td>7:30 PM</td>
        <td id="730-monday"></td>
        <td id="730-tuesday"></td>
        <td id="730-wednesday"></td>
        <td id="730-thursday"></td>
        <td id="730-friday"></td>
        <td id="730-saturday"></td>
    </tr>
    <tr>
        <td>8:00 PM</td>
        <td id="800-monday"></td>
        <td id="800-tuesday"></td>
        <td id="800-wednesday"></td>
        <td id="800-thursday"></td>
        <td id="800-friday"></td>
        <td id="800-saturday"></td>
    </tr>
    <tr>
        <td>8:30 PM</td>
        <td id="830-monday"></td>
        <td id="830-tuesday"></td>
        <td id="830-wednesday"></td>
        <td id="830-thursday"></td>
        <td id="830-friday"></td>
        <td id="830-saturday"></td>
    </tr>
    <tr>
        <td>9:00 PM</td>
        <td id="900-monday"></td>
        <td id="900-tuesday"></td>
        <td id="900-wednesday"></td>
        <td id="900-thursday"></td>
        <td id="900-friday"></td>
        <td id="900-saturday"></td>
    </tr>
    </tbody>
</table> -->
      </div>
    </div>
          
        <!-- <button id="getSubjects" v-on:click="fetchRooms" class="btn btn-success" >Get</button> -->
        <!-- <button id="addRoom"  v-bind:disabled="save"  v-on:click="addRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;" >Add Room</button><br>
        <button id="updateRoom" v-bind:disabled="update"  v-on:click="updateRoom" class="btn btn-primary" style="width:150px; margin-bottom:3px;"  >Update</button><br>
        <button id="Clear" v-on:click="clear" class="btn btn-info" style="width:150px; margin-bottom:3px;"  >CLear</button><br> -->
        <!-- <button id="Clear" v-on:click="alertThis" class="btn btn-warning" >Alert</button> -->        
    
</div>
  
</template>

<script>
// import Multiselect from 'vue-multiselect';

// import Underscore from 'underscore/underscore.js';
import Multiselect from 'vue-multiselect';
  $('.alert').alert();
  export default {  
      name: 'app',
  components: {
    Multiselect
  },
    data: function() {
     return { 
       
      value: '',
      times: [
        { name: '7:00 AM', raw: '700am' },
        { name: '7:30 AM', raw: '730am' },
        { name: '8:00 AM', raw: '800am' },
        { name: '8:30 AM', raw: '830am' },
        { name: '9:00 AM', raw: '900am' },
        { name: '9:30 AM', raw: '930am' },
        { name: '10:00 AM', raw: '1000am' },
        { name: '10:30 AM', raw: '1030am' },
        { name: '11:00 AM', raw: '1100am' },
        { name: '11:30 AM', raw: '1130am' },
        { name: '12:00 PM', raw: '1200' },
        { name: '12:30 PM', raw: '1230' },
        { name: '1:00 PM', raw: '100' },
        { name: '1:30 PM', raw: '130' },
        { name: '2:00 PM', raw: '200' },
        { name: '2:30 PM', raw: '230' },
        { name: '3:00 PM', raw: '300' },
        { name: '3:30 PM', raw: '330' },
        { name: '4:00 PM', raw: '400' },
        { name: '4:30 PM', raw: '430' },
        { name: '5:00 PM', raw: '500' },
        { name: '5:30 PM', raw: '530' },
        { name: '6:00 PM', raw: '600' },
        { name: '6:30 PM', raw: '630' },
        { name: '7:00 PM', raw: '700' },
        { name: '7:30 PM', raw: '730' },
        { name: '8:00 PM', raw: '800' },
        { name: '8:30 PM', raw: '830' },
        { name: '9:00 PM', raw: '900' }
      ],
    
       error: '',
       update: true,
       save: false,
          isButtonDisabled: null,


      courses: '',
      course: '',
      year: '',
      section: '',

      sections: '',
      rooms: '',
      instructors: '',
      schedules: '',
      subjects: '',
      subject: '',
      room: '',
      instructor: '',
      schedule: '',
      time: '',
      day: [],
      color: '99cc00',
      school_year: '',
      semester: '',
      id: ''

      }
    },
    
    created() {
      if(this.update === false){
        // document.getElementById('updateSubject').className('disabled');
      }
      console.log('start');
      this.fetchCourses();
      this.fetchRooms();
      this.fetchInstructors();
      this.fetchSubjects();
            this.fetchSchedules();
    },

    methods: { 
      checkSchedule () {
        //plots the color to the table
          let vm = this;
          let color = "#" +  $("#color_value").val();
          
            console.log(color);
            let loop1 = 0;
          vm.time.forEach(t => {
            vm.day.forEach(d => {
                
              if(loop1 == 0){
                  $("#"+t.raw+"-"+d).text(vm.room);
              }else if(loop1 == 1){
                  $("#"+t.raw+"-"+d).text(vm.subject);
              }else if(loop1 == 2){
                  $("#"+t.raw+"-"+d).text(vm.instructor);
              }

                $("#"+t.raw+"-"+d).css("background-color", color);
            });
            
                  loop1++;
          });

        },
      fetchSchedules () {
          let vm = this;
         axios.get('http://bpc.org/api/schedules')
          .then(function (response) {
            console.log(response.data);
            vm.schedules = response.data;
          });
        },
      fetchCourses () {
          let vm = this;
         axios.get('http://bpc.org/api/course')
          .then(function (response) {
            console.log(response.data);
            vm.courses = response.data;
          });
        },
      fetchSubjects () {
          let vm = this;
         axios.get('http://bpc.org/api/subjects')
          .then(function (response) {
            console.log(response.data);
            vm.subjects = response.data;
          });
        },
      fetchRooms () {
          let vm = this;
         axios.get('http://bpc.org/api/rooms')
          .then(function (response) {
            console.log(response.data);
            vm.rooms = response.data;
          });
        },
      fetchInstructors () {
          let vm = this;
         axios.get('http://bpc.org/api/instructors')
          .then(function (response) {
            console.log(response.data);
             vm.instructors = response.data;
          });
        },
      fetchSchedules () {
          let vm = this;
         axios.get('http://bpc.org/api/schedules')
          .then(function (response) {
            console.log(response.data);
            vm.schedules = response.data;
          });
        },
        addSchedule () {
              let vm = this;
              axios.post('http://bpc.org/api/schedules', {
                course: vm.course,
                year: vm.year,
                section: vm.section,
                subject: vm.subject,
                instructor: vm.instructor,
                room: vm.room,
                time: vm.time,
                day: vm.day,
                color: vm.color
            })
            .then(function (response) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('success: ' + response);
              if(response.data == "TRUE"){
                $('#success').removeAttr("hidden");
              }else{
                vm.error = response.data;
                $('#warning').removeAttr("hidden");
              }
              console.log(response.data);
            })
            .catch(function (error) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        editSchedule (item){
         let vm = this;
          vm.save = true;
          vm.update = false;
          vm.id = item.id;
          vm.course  = item.course ;
          vm.year = item.year;
          vm.section = item.section;
          vm.subject = item.subject;
          vm.instructor = item.instructor;
          vm.room = item.room;
          vm.color = item.color;
          // vm.time = item.time;
          // vm.day = item.day;
      },
        updateSchedule () {
              let vm = this;
          vm.save = false;
          vm.update = true;
              axios.put(`http://bpc.org/api/schedules/${vm.id}`, {
                course: vm.course,
                year: vm.year,
                section: vm.section,
                subject: vm.subject,
                instructor: vm.instructor,
                room: vm.room,
                time: vm.time,
                day: vm.day,
                color: vm.color
            })
            .then(function (response) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('updated: ' + response);
            })
            .catch(function (error) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        deleteSchedule (id) {
              let vm = this;
              axios.delete(`http://bpc.org/api/schedules/${id}`)
            .then(function (response) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('Deleted: ' + response);
            })
            .catch(function (error) {
            
            vm.fetchSchedules();
             vm.clear();
              console.log('Error: ' + error);
            });
        },
        
      clear(){
         let vm = this;
          vm.room_no = '',
          vm.floor = '',
          vm.building = '',
          vm.description = ''
      },
        setButtonEnable: function(){
              let vm = this;
          return '';
        },
        setButtonDisable: function(){
              let vm = this;
          vm.isButtonDisabled = true;
          return '';
        },
        hideMe: function($id){
              $('#'+$id).attr("hidden", true);
        },
      twoyears(){
         let vm = this;
         let two = true;
         if(vm.course == 'HRS'){
           two = false;
         }else if(vm.course == 'CCS'){
           two = false;
         }else if(vm.course == 'EIM'){
           two = false;
         }else if(vm.course == 'ACT'){
           two = false;
         }
  
      // console.log('two: ' +two);
         return two;
      }

    }

  }
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.table td {
   text-align: center;   
}
</style>
